<div class="password-input" [formGroup]="parts" (focusin)="onFocusIn()" (focusout)="onFocusOut()" >

    <input matInput formControlName="password"   (input)="input()" [placeholder]="label"  [type]="show ? 'text' : 'password'" [attr.required]="required"/><!-- formControlName="password" enfaire un input   -->
    <i id="eye" [class]="show ? 'icon-eye' : 'icon-eye-blocked'" (mousedown)="showPassword()" (mouseup)="hidePassword()" (mouseleave)="hidePassword()" (tap)="tapPassword()"></i>
</div>
<!-- 
<mat-form-field>
    
     <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmNewMdp" [placeholder]="label" required/>
     <mat-icon  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" matSuffix mat-icon-button  (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
 </mat-form-field> -->