<mat-tab-group class="sticky-tab" mat-stretch-tabs dynamicHeight animationDuration="0" [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">

  <mat-tab label="Vue par commandes" class="oue">
    <app-contrats-commandes (selectedTabIndexChange)="selectedTab.setValue($event)"></app-contrats-commandes>
  </mat-tab>
  <mat-tab label="Vue par produits">
    <div class="container">
      <div class="container-filtres raised-1">
        <button class="text-button">Filtres</button>
        <button class="raised-button size-smaller" (click)="selectedTab.setValue(1)" (tap)="selectedTab.setValue(1)">Afficher les licences par commandes</button>
        @if (filtres$ | async; as filtres) {
          <div class="filtres" [formGroup]="filtresForm">
            @for (filtre of filtres; track filtre.label; let i = $index) {
              <div class="filtre">
                @switch (filtre.forme) {
                  @case ('select') {
                    <mat-form-field>
                      <mat-label>{{ filtre.label }}</mat-label>
                      <mat-select [formControlName]="filtre.target" [(ngModel)]="filtreValues[filtre.target]" (ngModelChange)="onSearch(filtre.target, filtre.type, filtre.method, $event, filtreValues[filtre.target])" multiple disableOptionCentering panelClass="select-panel">
                        @for (option of filtre.options; track $index; let j = $index) {
                          <mat-option [value]="option" [disabled]="">
                            {{ option }}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  }
                  @case ('input') {
                    <mat-form-field>
                      <mat-label>{{ filtre.label }}</mat-label>
                      <input matInput [ngModel]="getFiltre(filtre.target, filtre.method)" (keydown)="onSearch(filtre.target, filtre.type, filtre.method, $event)" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                  }
                }
              </div>
            }
            <div class="filtre">
              <mat-form-field>
                <mat-label>Filtre</mat-label>
                <mat-select [(value)]="selectedFiltreDate">
                  <mat-option [value]="filtreTout" (click)="onFiltreDate()" (tap)="onFiltreDate()">{{ filtreTout }}</mat-option>
                  @for (group of filtresDate; track group.label) {
                    <mat-optgroup [label]="group.label">
                      @for (filtre of group.options; track $index) {
                        <mat-option [value]="filtre" (click)="onFiltreDate()" (tap)="onFiltreDate()">{{ filtre }}</mat-option>
                      }
                    </mat-optgroup>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        }

        <div class="config filtre">
          <mat-checkbox [ngModel]="prioritaire" (ngModelChange)="onPriorite($event)">Afficher les licences prioritaires en premier</mat-checkbox>
        </div>

        @if (filtreMarque) {
          <div class="marque-filtres">
            @for (option of filtreMarque.options; track $index; let j = $index) {
              <div class="marque-options" [ngClass]="{'selected': filtreValues['produit.marque']?.includes(option)}"
                (click)="filtreMarqueToggle(option)"
                (tap)="filtreMarqueToggle(option)">
                <img  loading="lazy" class="marque-img" [src]="environment.logoMarquesUrl70x30center + option + '.gif'" [alt]="option"/>
              </div>
            }
          </div>
        }
      </div>

      <div class="bandeau">
        <ul class="raised-1 size-smaller">
          <li class="tab-0_8 sort" (click)="onTri('produit.marque', 'string')" (tap)="onTri('produit.marque', 'string')">Marque<app-tab-sort [state]="selected('produit.marque')"></app-tab-sort></li>
          <li class="tab-1 sort" (click)="onTri('produit.reference', 'string')" (tap)="onTri('produit.reference', 'string')">Réf. produit<app-tab-sort [state]="selected('produit.reference')"></app-tab-sort></li>
          <li class="tab-1_5">Désignation</li>
          <li class="tab-2 sort" (click)="onTri('serie', 'string')" (tap)="onTri('serie', 'string')">SN / EAV<app-tab-sort [state]="selected('serie')"></app-tab-sort></li>
          <li class="tab-2 sort" (click)="onTri('client.nom', 'string')" (tap)="onTri('client.nom', 'string')">Client final<app-tab-sort [state]="selected('client.nom')"></app-tab-sort></li>
          <li class="tab-2 sort" (click)="onTri('produit.quantite', 'number')" (tap)="onTri('produit.quantite', 'number')">Quantité<app-tab-sort [state]="selected('produit.quantite')"></app-tab-sort></li>
          <li class="tab-1 tab-c sort" (click)="onTri('commande.datecommande', 'date')" (tap)="onTri('commande.datecommande', 'date')">Date d'achat<app-tab-sort [state]="selected('commande.datecommande')"></app-tab-sort></li>
          <li class="tab-1 tab-c sort" (click)="onTri('renouvellementdate', 'date')" (tap)="onTri('renouvellementdate', 'date')">Date d'expiration<app-tab-sort [state]="selected('renouvellementdate')"></app-tab-sort></li>
          <li class="tab-1 sort tab-c" (click)="onTri('statut', 'string')" (tap)="onTri('statut', 'string')">Statut<app-tab-sort [state]="selected('statut')"></app-tab-sort></li>
        </ul>
      </div>

      @if (processedLicences$ | async; as processedLicences) {
        <div class="licences">
          @if (processedLicences.length > 0) {
            <mat-paginator [length]="processedLicences.length"
              [pageIndex]="paginator.pageIndex"
              [pageSize]="paginator.pageSize"
              [pageSizeOptions]="paginator.pageSizeOptions"
              (page)="onPaginatorEvent($event)"
              showFirstLastButtons>
            </mat-paginator>
            @for (licence of (processedLicences | slice: paginator.low: paginator.high); track licence.produit; let index = $index) {
              <div #licence class="licence size-smaller">
                <div class="raised-1 bgWhite" style="border-radius: 10px 10px 10px 0; background-color: white !important;" >
                  <ul>
                    <li class="tab-0_8"><img loading="lazy" class="marqueLink" [routerLink]="['/', 'catalogue', 'search']" [queryParams]="{ marque: licence.produit.marque }" [src]="environment.logoMarquesUrl70x30center + licence.produit.marque + '.gif'" [alt]="licence.produit.marque"/></li>
                    <li class="tab-1 break bold"><a class="produitLink" (click)="linkToProduct(licence.produit.reference)">{{ licence.produit.reference }}</a></li>
                    <li class="tab-1_5">{{ licence.produit.designation }}</li>
                    <li class="tab-2 break bold serie">
                      @if (!isEditing(index)) {
                        <span>{{ licence.serie }}</span>
                        <fa-icon class="icon icon--edit" [icon]="faPenSquare" (click)="startEdit(index, licence)" (tap)="startEdit(index, licence)"></fa-icon>
                      } @else {
                        <input name="noserie" [(ngModel)]="stringsNoSerie[index]" />
                        <fa-icon class="icon icon--check" [icon]="faCheckCircle" (click)="editNoSerie(index, licence)" (tap)="editNoSerie(index, licence)"></fa-icon>
                        <fa-icon class="icon icon--cancel" [icon]="faTimesCircle" (click)="stopEdit(index)" (tap)="stopEdit(index)"></fa-icon>
                      }
                    </li>
                    <li class="tab-2 serie">
                      <span>{{ licence.client.nom }}</span>
                      <fa-icon class="icon icon--edit" [icon]="faPenSquare" (click)="afficherPopup(licence)" (tap)="afficherPopup(licence)"></fa-icon>
                    </li>
                    <li class="tab-2 serie">
                      <span>{{ licence.quantite }}</span>
                    </li> 
                    <li class="tab-1 tab-c">{{ licence.commande.datecommande | date:'dd/MM/yyyy' }}</li>
                    <li class="tab-1 tab-c lh" [ngClass]="{'red': licenceService.isPrioritaire(licence)}">
                      @if (licence.statut !== 'Expirée' && licenceService.isPrioritaire(licence)) {
                        <app-tooltip
                          text="La licence arrive bientot à expiration."
                          type="alert">
                        </app-tooltip>
                        &nbsp;
                      }
                      {{ licence.renouvellementdate | date:'dd/MM/yyyy' }}
                      @if (licence.statut === 'Active') {
                        <br/>
                        {{ printDuree(licence.nombredejoursrestant) }}
                      }
                    </li>
                    <li class="tab-1 tab-c" [ngClass]="{'red': licenceService.isPrioritaire(licence) && licence.statut === 'Expirée'}">
                      @if (licence.statut === 'Expirée' && licenceService.isPrioritaire(licence)) {
                        <app-tooltip
                          class="bigger"
                          text="La licence est arrivée à expiration."
                          type="alert">
                        </app-tooltip>
                        &nbsp;
                      }
                      {{ licence.statut }}
                    </li>
                  </ul>
                  <div class="ph10">
                    <hr/>
                    <div class="full-width">
                      <h3>Informations sur la commande d'origine</h3>
                      <div class="info-commande full-width">
                        <ul class="full-width">
                          <li class="weight-bold">Commande d'origine : {{ licence.commande.numcommande }} du {{ licence.commande.datecommande | date:'dd/MM/yyyy' }}</li>
                          <li class="weight-bold">Facture d'origine : {{ licence.commande.numfacture }} du {{ licence.commande.datefacture | date:'dd/MM/yyyy' }}</li>
                          <li class="weight-bold">Votre référence : {{ licence.commande.referencecommande }}</li>
                          <!-- <li class="weight-bold">Produit</li>
                          <li class="weight-bold">Désignation</li>
                          <li class="weight-bold">Quantité</li> -->
                        </ul>
                        <!--<ul class="full-width">
                        <li>{{ licence.commande.numcommande }} du {{ licence.commande.datecommande | date: 'shortDate' }}</li>
                        <li>{{ licence.commande.numfacture }} du {{ licence.commande.datefacture | date: 'shortDate' }}</li>
                        <li>{{ licence.commande.referencecommande }}</li>
                        <li class="weight-bold"><a (click)="onClickReference(licence.produit.reference)" (tap)="onClickReference(licence.produit.reference)">{{ licence.produit.reference }}</a></li>
                        <li class="cut">{{ licence.produit.designation }}</li>
                        <li>{{ licence.quantite }}</li>
                      </ul> -->
                    </div>
                  </div>
                  <div class="details" [ngClass]="{'show': isActive(index)}">
                    <hr/>
                    <h3 class="full-width">Informations sur la licence</h3>
                    <h4 class="full-width">Coordonnées du client final</h4>
                    <div>
                      <span class="bold size-bigger">{{ licence.client.nom }}</span><br/>
                      <span>{{ licence.client.adresse1 }}</span><br/>
                      <span>{{ licence.client.adresse2 }}</span><br/>
                      <span>{{ licence.client.codepostal }}&nbsp;{{ licence.client.ville }}</span><br/>
                      <span>{{ licence.client.pays | uppercase }}</span>
                    </div>
                    <div>
                      <span class="bold size-bigger">Contact</span><br/>
                      <span>{{ licence.client.mail }}</span><br/>
                      <span>{{ licence.client.telephone }}</span>
                    </div>
                  </div>
                </div>
                <div class="details history" [ngClass]="{show: isHistoryActive(index)}">
                  <span class="bold size-bigger">Historique de la licence</span>
                  @if (licence.history.length > 0) {
                    @for (oldLicence of licence.history; track oldLicence.produit) {
                      <ul>
                        <li class="tab-0_8"><img loading="lazy" [src]="environment.logoMarquesUrl70x30center + oldLicence.produit.marque + '.gif'" [alt]="oldLicence.produit.marque"/></li>
                        <li class="tab-1 break bold">{{ oldLicence.produit.reference }}</li>
                        <li class="tab-1_5 cut">{{ oldLicence.produit.designation }}</li>
                        <li class="tab-2 break bold">{{ oldLicence.serie }}</li>
                        <li class="tab-2">{{ oldLicence.client.nom }}</li>
                        <li class="tab-1 tab-c">{{ oldLicence.commande.datecommande | date:'dd/MM/yyyy' }}</li>
                        <li class="tab-1 tab-c lh">{{ oldLicence.renouvellementdate | date:'dd/MM/yyyy' }}</li>
                        <li class="tab-1 tab-c">Renouvelée</li>
                      </ul>
                    }
                  } @else {
                    <p>Aucun historique disponible sur cette licence : il s'agit d'une nouvelle licence ou des numéros de série sont manquants.</p>
                  }
                </div>
              </div>
              <div class="boutons">
                <div class="bouton-details" (click)="showDetails(index)">
                  @if (!isActive(index)) {
                    <fa-icon class="prefix icon size-big" [icon]="faPlusCircle"></fa-icon>
                  } @else {
                    <fa-icon class="prefix icon size-big" [icon]="faMinusCircle"></fa-icon>
                  }
                  <span class="texte size-bigger">de détails</span>
                </div>
                @if (licence.history.length > 0) {
                  <div class="bouton-details" (click)="showHistory(index)">
                    <fa-icon class="prefix icon size-big" [icon]="faHistory"></fa-icon>
                    @if (!isHistoryActive(index)) {
                      <span class="texte size-bigger">Voir l'historique</span>
                    } @else {
                      <span class="texte size-bigger">Cacher l'historique</span>
                    }
                  </div>
                }
                <div class="action">
                  @if (licenceService.isPrioritaire(licence) && !licenceService.isIgnored(licence)) {
                    <div class="bouton-details smaller secondary-color"
                      (click)="licenceService.ignore(licence)" (tap)="licenceService.ignore(licence)">
                      <fa-icon class="prefix icon" [icon]="faBellSlash"></fa-icon><span>Ignorer l'alerte</span>
                    </div>
                  }
                  @if (licenceService.isPrioritaire(licence) && licenceService.isIgnored(licence)) {
                    <div class="bouton-details smaller"
                      (click)="licenceService.follow(licence)" (tap)="licenceService.follow(licence)">
                      <fa-icon class="prefix icon" [icon]="faBell"></fa-icon><span>Suivre l'alerte</span>
                    </div>
                  }
                  @if (!licenceService.isPrioritaire(licence)) {
                    <div class="bouton-details smaller hidden">
                    </div>
                  }
                  <div class="bouton-details" (click)="modifier(licence)" (tap)="modifier(licence)">
                    <span class="size-bigger">Renouveler @if (licence.statut === 'Active') {
                      / Modifier
                    }</span>
                  </div>
                </div>
              </div>
            </div>
          }
          <mat-paginator [length]="processedLicences.length"
            [pageIndex]="paginator.pageIndex"
            [pageSize]="paginator.pageSize"
            [pageSizeOptions]="paginator.pageSizeOptions"
            (page)="onPaginatorEvent($event)"
            showFirstLastButtons>
          </mat-paginator>
        } @else {
          <h3>Aucun produit renouvelable n'a été trouvé.</h3>
        }
      </div>
    }
  </div>

  <div class="popup" [ngClass]="{active: showPopup}">
    <div class="popup-background" (click)="showPopup = false" (tap)="showPopup = false"></div>
    <div class="popup-window">
      @if (licencePopup != null) {
        <app-enduser-form title="Modifier l'utilisateur final" [serialNumber]="{mandatory: true, name: 'N° de série'}" [produits]="produits" [client]="licencePopup.client" (clientChange)="onChangeClient($event)"></app-enduser-form>
      }
      <div class="popup-buttons">
        <button class="raised-button button--color-secondary" (click)="showPopup = false" (tap)="showPopup = false">Annuler les modifications</button>
        <button class="raised-button" (click)="changeClient(clientPopup)" (tap)="changeClient(clientPopup)">Modifier le client</button>
      </div>
    </div>
  </div>

  @if (showHelpPopup) {
    <div class="popup" [ngClass]="{active: showHelpPopup}">
      <div class="popup-background" (click)="hideHelpPopup()" (tap)="hideHelpPopup()"></div>
      <div class="popup-window raised-3">
        @if (!demandeAideEnvoyee) {
          @if (!isAskingForHelp) {
            <p>Nous sommes dans l'incapacité de vous proposer de renouveler cette licence via cette interface pour le moment.</p>
            <p>Vous pouvez :</p>
            <ul>
              @if (licencePopup.niv1 === 'CYB') {
                <li><a class="text-link" [routerLink]="'/licences-cybersecurite/' + licencePopup.produit.marque?.toUpperCase() ?? ''">Utiliser notre espace d'aide au choix cybersécurité</a></li>
              }
              @if (produitsSimilaires.length > 0) {
                <li><a class="text-link" [routerLink]="'/catalogue/search'" [queryParams]="queryProduitsSimilaires()">Voir des produits similaires ({{ produitsSimilaires.length }})</a></li>
              }
              @if (produitHelpPopup.reference != '') {
                <li><a class="text-link" [routerLink]="produitService.lienProduit(produitHelpPopup)">Voir la fiche produit</a></li>
              }
              <li><a class="text-link" (click)="isAskingForHelp = true" (tap)="isAskingForHelp = true">Demander à un commercial de vous recontacter</a></li>
            </ul>
            <div class="buttons">
              <button class="raised-button" (click)="hideHelpPopup()" (tap)="hideHelpPopup()">Fermer cette fenêtre</button>
            </div>
          } @else {
            <p>Vous souhaitez demander à un commercial de vous recontacter concernant la licence {{ licencePopup.produit }} commandée le {{ licencePopup.commandedate | date:'dd/MM/yyyy' }}</p>
            <p>Vous pouvez préciser vos besoins (durée du renouvellement, nombre de postes, etc.) dans l'encadré ci-dessous.</p>
            <mat-form-field>
              <mat-label>Renseignements complémentaires</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5" [(ngModel)]="commentaire"></textarea>
            </mat-form-field>
            <div class="buttons">
              <button class="raised-button button--color-secondary" (click)="hideHelpPopup()" (tap)="hideHelpPopup()">Fermer cette fenêtre</button>
              <button class="raised-button" (click)="demandeAide()" (tap)="demandeAide()">Contacter un commercial</button>
            </div>
          }
        } @else {
          <p>Votre demande d'aide a bien été envoyé.</p><br/>
          <div class="buttons">
            <button class="raised-button" (click)="hideHelpPopup()" (tap)="hideHelpPopup()">Fermer cette fenêtre</button>
          </div>
        }
      </div>
    </div>
  }
</mat-tab>
</mat-tab-group>
