.outils-maindiv {
	display: flex;
	flex-direction: row;
	// justify-content: space-around;
	flex-wrap: wrap;

	.outils-box {
		width: 18%;
		margin: 8px 1% 8px 1%;

	    @media screen and (max-width: 1650px) { width: 23%; }
	    @media screen and (max-width: 1300px) { width: 31%; }
	    @media screen and (max-width: 900px) { width: 48%; }
	    @media screen and (max-width: 500px) { width: 98%; }
	}
}

h3 {
	margin: 10px 0px 0px 0px;
}

.categorie-metiers {
	max-width: 120%;
	mix-blend-mode: multiply;
	margin: 10px 16px
}