<div class="base-container">
  <h3>Récupération de mot de passe</h3>

  <!-- FORMULAIRE DE CHANGEMENT DE MOT DE PASSE -->
  @if (!isSent) {
    <form [formGroup]="mdpRestaurationForm" (ngSubmit)="onSubmit()">
      <!-- NOUVEAU MOT DE PASSE -->
      <mat-form-field  >
        <!-- <mat-label>Nouveau mot de passe</mat-label> -->
        <app-password-show-input formControlName="newMdp" [required]="true" [label]="'Nouveau mot de passe'"></app-password-show-input>
        <mat-hint>Le mot de passe doit faire entre {{minLength}} et {{maxLength}} caractères.</mat-hint>
        @if (mdpRestaurationForm.get('newMdp').errors?.required) {
          <mat-error>Champ obligatoire.</mat-error>
        }
        @if (mdpRestaurationForm.get('newMdp').errors?.minlength) {
          <mat-error>Le mot de passe doit contenir au minimum {{minLength}} caractères.</mat-error>
        }
        @if (mdpRestaurationForm.get('newMdp').errors?.maxlength) {
          <mat-error>Le mot de passe doit contenir au maximum {{maxLength}} caractères.</mat-error>
        }
      </mat-form-field>
      <!-- CONFIRMATION NOUVEAU MOT DE PASSE -->
      <mat-form-field  appearance="outline">
        <!-- <mat-label>Confirmer le mot de passe</mat-label> -->
        <input matInput type="password" formControlName="confirmNewMdp" [label]="'Confirmer le mot de passe'" required/>
        @if (mdpRestaurationForm.get('confirmNewMdp').errors?.required) {
          <mat-error>Champ obligatoire.</mat-error>
        }
        @if (mdpRestaurationForm.get('confirmNewMdp').errors?.confirmedValidator) {
          <mat-error>Les mots de passe ne correspondent pas.</mat-error>
        }
      </mat-form-field>
      <!-- SUBMIT BUTTON -->
      @if (isSubmitted && mdpRestaurationForm.get('newMdp').errors?.required) {
        <mat-error class="error">Le nouveau mot de passe est obligatoire.</mat-error>
      }
      @if (isSubmitted && mdpRestaurationForm.get('newMdp').errors?.minlength) {
        <mat-error class="error">Le nouveau mot de passe doit contenir au minimum {{minLength}} caractères.</mat-error>
      }
      @if (isSubmitted && mdpRestaurationForm.get('newMdp').errors?.maxlength) {
        <mat-error class="error">Le nouveau mot de passe doit contenir au maximum {{maxLength}} caractères.</mat-error>
      }
      @if (isSubmitted && mdpRestaurationForm.get('confirmNewMdp').errors?.required) {
        <mat-error class="error">La confirmation du nouveau mot de passe est obligatoire.</mat-error>
      }
      @if (isSubmitted && mdpRestaurationForm.get('confirmNewMdp').errors?.confirmedValidator) {
        <mat-error class="error">Les mots de passes ne correspondent pas.</mat-error>
      }
      <button class="raised-button" [disabled]="isLoading">Réinitialiser le mot de passe</button>
    </form>
  }

  <!-- AFFICHAGE DU RÉSULTAT -->
  @if (isSent) {
    <div>
      <h4>Le mot de passe a été réinitialisé</h4>
      <p>Vous pouvez utiliser votre nouveau mot de passe pour vous connecter.</p>
    </div>
  }
</div>