<div class="container">
  <div class="container-filtres raised-1 bgwhite">
    <button class="text-button">Filtres</button>
    <div class="filtres">
      <div class="filtre">
        <mat-form-field>
          <mat-label>Nom du devis</mat-label>
          <input matInput [ngModel]="saf.getFiltre('devis', 'referencecommande', 'includes')" (keydown)="onSearch('referencecommande', 'string', 'includes', $event)"/>
        </mat-form-field>
      </div>
      <div class="filtre">
        <mat-form-field>
          <mat-label>N° de devis</mat-label>
          <input matInput [ngModel]="saf.getFiltre('devis', 'numcommande', 'includes')" (keydown)="onSearch('numcommande', 'string', 'includes', $event)"/>
        </mat-form-field>
      </div>
      <div class="filtre">
        <mat-form-field>
          <mat-label>Référence produit</mat-label>
          <input matInput [ngModel]="saf.getFiltre('devis', 'produits.prod', 'includes')" (keydown)="onSearch('produits.prod', 'string', 'includes', $event)"/>
        </mat-form-field>
      </div>
      <div class="filtre filtreBox">
        <mat-form-field>
          <mat-label>Marque</mat-label>
          <mat-select multiple [(ngModel)]="marquesSelected" (ngModelChange)="onSearch('produits.marquelib', 'array', 'includes', $event, 'marquesSelected')">
            @for (marque of marqueArray | keyvalue; track marque.value) {
              <mat-option [value]="marque.value">{{ marque.value }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (this.marquesSelected.length>0) {
          <i
            class="CANESELAVEPAS"
            title="vider le filtre"
            (click)="cleanFilter('produits.marquelib','marquesSelected')"
          >
            <mat-icon>clear</mat-icon>
          </i>
        }
      </div>
      <div class="filtre filtreBox">
        <mat-form-field>
          <mat-label>Statut</mat-label>
          <mat-select [ngModel]="saf.getFiltre('devis', 'statut', 'includes')">
            @for (statut of statutArray; track statut) {
              <mat-option [value]="statut" (click)="onSearch('statut', 'string', 'includes', $event)" (tap)="onSearch('statut', 'string', 'includes', $event)">{{ statut }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (this.saf.getFiltre('devis', 'statut', 'includes')){
          <i
            class="CANESELAVEPAS"
            title="vider le filtre"
            value=""
            (click)="cleanFilter('statut', 'string')"  
          >
            <mat-icon>clear</mat-icon>
          </i>
        }

      </div>
    </div>
    @if (marqueArray) {
      <div class="marque-filtres del-for-phone1">
        @for (marque of marqueArray | keyvalue; track marque.value) {
          <div class="marque-options"  [ngClass]="{'selected': marquesSelected.includes(marque.value)}"
            (click)="filtreMarqueToggle(marque.value)" (tap)="filtreMarqueToggle(marque.value)">
            <img loading="lazy" class="marque-img" [src]="environment.logoMarquesCouleurs200x80 + marque.key + '.gif'" [alt]="marque.value" />
          </div>
        }
      </div>
    }
  </div>

  <div class="bandeau">
    <ul class="raised-1 size-smaller devis-header">
      <li class="sort phone" (click)="onTri('referencecommande', 'string')">Nom du devis<app-tab-sort [state]="selected('referencecommande')"></app-tab-sort></li>
      <li class="sort" (click)="onTri('numcommande', 'string')">N° de devis<app-tab-sort [state]="selected('numcommande')"></app-tab-sort></li>
      <li class="sort del-for-phone" (click)="onTri('datecommande', 'date')">Date de création<app-tab-sort [state]="selected('datecommande')"></app-tab-sort></li>
      <li class="sort" (click)="onTri('mthtcommande', 'number')">Montant HT<app-tab-sort [state]="selected('mthtcommande')"></app-tab-sort></li>
      <li class="sort del-for-phone" (click)="onTri('mtttccommande', 'number')">Montant TTC<app-tab-sort [state]="selected('mtttccommande')"></app-tab-sort></li>
      <li class="sort del-for-phone" (click)="onTri('mtfraisdeport', 'number')">Frais de port<app-tab-sort [state]="selected('mtfraisdeport')"></app-tab-sort></li>
      <!--<li class="sort center del-for-phone" (click)="onTri('transactionlib', 'string')">Type<app-tab-sort [state]="selected('transactionlib')"></app-tab-sort></li>
      -->
      <li class="sort center del-for-phone" (click)="onTri('statut', 'string')">Statut<app-tab-sort [state]="selected('')"></app-tab-sort></li>
    </ul>
  </div>


  @if (processedDevis$ | async; as listeDevis) {
    <div class="licences">
      @if (listeDevis.length > 0) {
        <mat-paginator [length]="listeDevis.length"
          [pageIndex]="paginator.pageIndex"
          [pageSize]="paginator.pageSize"
          [pageSizeOptions]="paginator.pageSizeOptions"
          (page)="onPaginatorEvent($event)"
          showFirstLastButtons>
        </mat-paginator>
        @for (devis of (listeDevis | slice: paginator.low: paginator.high); track $index; let index = $index) {
          <div class="licence phone">
            <div class="raised-1">
              <ul class="devis-header bgwhite">
                <li class="phone">{{ devis.referencecommande }}</li>
                <li class="phone">
                  @if (devis.haspdf) {
                    <a class="text-link"
                      target="_blank"
                      [href]="environment.apiUrl + '/document/generate.php?document=' + devis.numcommande + '&type=DEVIS'"
                      >
                      {{ devis.numcommande }}
                      <fa-icon [icon]="faFilePdf"></fa-icon>
                    </a>
                  } @else {
                    {{ devis.numcommande }}
                    <!-- <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon> -->
                    <br/>
                    <span class="size-small no-wrap">
                      PDF indisponible
                      <app-tooltip type="help" [text]="explicationPDFindispo"></app-tooltip>
                    </span>
                  }
                </li>
                <li class="del-for-phone">{{ devis.datecommande | date: 'shortDate' }}</li>
                <li class="phone">
                  <div>{{ devis.mthtcommande | currency:'EUR':'symbol':'1.2-2':'fr' }}</div>
                </li>
                <li class="del-for-phone">
                  <div>{{ devis.mtttccommande | currency:'EUR':'symbol':'1.2-2':'fr' }}</div>
                </li>
                <li class="del-for-phone">
                  @if (devis.mtfraisdeport > 0) {
                    <div>{{ devis.mtfraisdeport | currency:'EUR':'symbol':'1.2-2':'fr' }}</div>
                  } @else {
                    Gratuit
                  }
                </li>
                <!--
                <li class="center del-for-phone">{{ devis.transactionlib }}</li>-->
                <li class="center statut">@if (devis.statut === 'Actif') {
                  Valide jusqu'au {{ add30Days(devis.datecommande) | date: 'shortDate' }}
                } @else {
                  Périmé
                }</li>
              </ul>
              <div class="details size-smaller bgwhite" [ngClass]="{'show': isActive(index)}">
                <hr/>
                <div class="adresse">
                  <h3>Adresse de livraison</h3>
                  @if (devis.wnom) {
                    <p>{{ devis.wnom }}</p>
                  }
                  @if (devis.wadresse1) {
                    <p>{{ devis.wadresse1 }}</p>
                  }
                  @if (devis.wadresse2) {
                    <p>{{ devis.wadresse2 }}</p>
                  }
                  @if (devis.wcodepostal || devis.wville) {
                    <p>{{ devis.wcodepostal }} {{ devis.wville }}</p>
                  }
                  @if (devis.wpays) {
                    <p>{{ devis.wpays }}</p>
                  }
                  @if (devis.wphone) {
                    <p>{{ devis.wphone }}</p>
                  }
                  <!-- <p>Transporteur : {{ devis.transporteur }}</p> -->
                </div>
                <div class="adresse">
                  <h3>Personne ayant réalisé le devis</h3>
                  <p>Identifiant : {{ devis.usercde }}</p>
                  <p>Email : {{ devis.usercdemail }}</p>
                </div>
                @if (devis.enduser.nom) {
                  <div class="adresse">
                    <h3>Client final</h3>
                    @if (devis.enduser.nom) {
                      <p>{{ devis.enduser.nom }}</p>
                    }
                    @if (devis.enduser.adresse1) {
                      <p>{{ devis.enduser.adresse1 }}</p>
                    }
                    @if (devis.enduser.adresse2) {
                      <p>{{ devis.enduser.adresse2 }}</p>
                    }
                    @if (devis.enduser.ville) {
                      <p>{{ devis.enduser.ville }}<ng-container>, {{ devis.enduser.codepostal }}</ng-container><ng-container>, {{ devis.enduser.payscode }}</ng-container></p>
                    }
                    @if (devis.enduser.telephone) {
                      <p>{{ devis.enduser.telephone }}</p>
                    }
                    @if (devis.enduser.mail) {
                      <p>{{ devis.enduser.mail }}</p>
                    }
                  </div>
                }
                <hr/>
                <div class="produits">
                  <h3>Produits</h3>
                  <ul class="weight-bold">
                    <li>Marque</li>
                    <li>Référence</li>
                    <li class="designation">Désignation</li>
                    <li class="center size-smaller stock"><span>Stock</span><span class="del-for-phone">Stock ext.</span><span class="del-for-phone">Réappro.</span></li>
                    <li class="center">Quantité</li>
                    <li class="align-right">Prix unitaire</li>
                    <li class="align-right del-for-phone1">Écopart.</li>
                  </ul>
                  @for (produit of devis.produits; track produit.prod) {
                    <ul class="ligne">
                      <li>{{ produit.marquelib }}</li>
                      <li class="weight-bold"><a (click)="onClickReference(produit.prod)" (tap)="onClickReference(produit.prod)">{{ produit.prod }}</a></li>
                      <li class="cut designation-produit">{{ produit.designation }}</li>
                      <li class="center relative" [ngClass]="{'stock': produit.gabarit !== 'V'}">
                        @if (produit.gabarit === 'V') {
                          Produit virtuel
                        } @else {
                          <span>{{ produit.qteStock1 }}</span>
                          <span class="del-for-phone">{{ produit.qteStock2 }}</span>
                          <span class="del-for-phone">{{ produit.qteEnReappro }}</span>
                          @if ((produit.delaisReappro | typeof) === 'Date') {
                            @if (produit.qteStock1 + produit.qteStock2 < produit.quantitecommande && produit.qteEnReappro > 0 && produit.gabarit !== 'V') {
                              <app-tooltip class="date-reappro" [text]="'Réapprovisionnement prévu aux alentours du : ' + (produit.delaisReappro | date: 'shortDate') + '.'"
                                >
                              </app-tooltip>
                            }
                          } @else {
                            @if (produit.qteStock1 + produit.qteStock2 < produit.quantitecommande && produit.qteEnReappro > 0 && produit.gabarit !== 'V') {
                              <app-tooltip class="date-reappro" text="Aucune date de réapprovisionnement n'a été communiquée par notre fournisseur."
                                >
                              </app-tooltip>
                            }
                          }
                        }
                      </li>
                      <li class="center" [ngStyle]="{'color': produit.qteStock1 >= produit.quantitecommande || produit.gabarit === 'V' ? 'var(--color-success)' : produit.qteStock1 + produit.qteStock2 >= produit.quantitecommande ? 'var(--color-soft-warn)' : 'var(--color-warn)'}">{{ produit.quantitecommande | number: '1.0-0' }}</li>
                      <li class="align-right">
                        <div>{{ produit.prixnet | currency:'EUR':'symbol':'1.2-2':'fr' }}<span class="size-smaller">&nbsp;HT</span></div>
                      </li>
                      <li class="align-right eco-par">
                        <div>{{ produit.prixd3e | currency:'EUR':'symbol':'1.3-3':'fr' }}<span class="size-smaller">&nbsp;HT</span></div>
                        <sub class="for-phone">éco-part</sub>
                      </li>
                    </ul>
                  }
                </div>
              </div>
            </div>
            <div class="boutons">
              <div class="bouton-details" (click)="showDetails(index)">
                @if (!isActive(index)) {
                  <fa-icon class="prefix icon size-big" [icon]="faPlus"></fa-icon>
                } @else {
                  <fa-icon class="prefix icon size-big" [icon]="faMinus"></fa-icon>
                }
                <span class="texte size-bigger ">de détails</span>
              </div>
              <div class="action">
                @if (devis.statut === 'Actif') {
                  <div class="bouton-details bouton-details--icon-only" (click)="onShowRefreshDevis(devis)" (tap)="onShowRefreshDevis(devis)">
                    <app-tooltip type="reload" text="Ajouter les produits du devis au panier afin d'actualiser l'offre"></app-tooltip>
                  </div>
                } @else {
                  <div>&nbsp;</div>
                }
                <div class="bouton-details bouton-details--icon-only" (click)="onShowEditPopup(devis)" (tap)="onShowEditPopup(devis)">
                  <app-tooltip type="edit" text="Demander une modification à votre commercial"></app-tooltip>
                </div>
                @if (devis.statut === 'Actif') {
                  <div class="bouton-details" (click)="onValider(devis)" (tap)="onValider(devis)">
                    <fa-icon class="" [icon]="faCheck"></fa-icon>
                    <span>Valider</span>
                  </div>
                } @else {
                  <div class="bouton-details" (click)="onShowRefreshDevis(devis)" (tap)="onShowRefreshDevis(devis)"
                    matTooltip="Ajouter les produits du devis au panier afin d'actualiser l'offre"
                    matTooltipPosition="above" matTooltipClass="devis-tooltip"
                    >
                    <fa-icon class="" [icon]="faRedoAlt"></fa-icon>
                    <span>Actualiser</span>
                  </div>
                }
              </div>
            </div>
          </div>
        }
        <mat-paginator [length]="listeDevis.length"
          [pageIndex]="paginator.pageIndex"
          [pageSize]="paginator.pageSize"
          [pageSizeOptions]="paginator.pageSizeOptions"
          (page)="onPaginatorEvent($event)"
          showFirstLastButtons>
        </mat-paginator>
      } @else {
        <h3>Vous n'avez pas de devis.</h3>
      }
    </div>
  }
</div>
