<div class="tutorial-container">
  
    <h2>Comment ouvrir un ticket :</h2>
  
    <h3>Cas 1 : Je n’ai pas de compte sur le site <a href="https://tickets.actn.fr" target="_blank">https://tickets.actn.fr</a>, allez à l’étape 1 <br>Cas 2 : J’ai déjà un compte sur
      le site <a href="https://tickets.actn.fr" target="_blank">https://tickets.actn.fr</a>, allez à l’étape 3</h3>
  
    <ul>
      <li>1. Envoyez un email à : <a href="mailto:tickets@actn.fr">tickets&#64;actn.fr</a> décrivant votre incident</li>
      <li>2. Vous recevrez un email de confirmation de réception</li>
      <li>3. Pour suivre votre incident rendez-vous sur le site <a target="_blank" href="https://tickets.actn.fr">https://tickets.actn.fr</a></li>
      <li>4. L’identifiant est l’adresse mail utilisé pour l’envoi de votre demande.</li>
      <li>5. Pour la 1ère connexion ou si vous ne connaissez pas votre mot de passe, utilisez la fonction « mot de passe oublié ».</li>
    </ul>
    <a mat-button class="raised-button " href="https://tickets.actn.fr" target="_blank" >Acceder au site </a>
  </div>