$padding: 24px 50px;

* h3,
* h4 {
    margin: 0;
}

* h3 {
    color: var(--color-primary-darker);
    margin-bottom: 20px;
    font-size: 1.4em;
}

.image {
    width: 100%;
    text-align: center;
}

img {
    max-width: 80%;
    object-fit: scale-down;
    object-position: center;
}

.cadre {
    margin-top: 30px;
    padding: $padding;
    background: #f2f2f2;
    border-radius: 10px;
}

form {
    padding: $padding;
    display: grid;
    grid-template-columns: max-content 200px;
    align-items: baseline;

    @media  screen and (max-width:425px) {
        padding:5px 10px;
    }

    h3, button {
        grid-column: 1 / 3;
    }

    button {
        margin-top: 20px;
    }
}

label {
    margin-right: 20px;
}

.blue {
    color: var(--color-primary-darker);
}

h4.blue {
    margin-bottom: 20px;
}

mat-icon {
    color: var(--color-primary) !important;
}

.forPhone{
    @media screen and (max-width:720px){
    
        padding: 1px;
        grid-template-columns: none;
        /*mat-form-field{
            white-space: pre-wrap;
        }*/    }
}

.formulaire{
    display:grid;
    grid-template-columns: 1fr ;
    @media screen and (max-width: 425px){
        padding: 5px;
    }
}
.container{
    padding: 10px;
    border-radius: 10px;
    
    background-color: white;
}