<h3>Candidature reçue</h3>
<p class="weight-bold">Nous vous remercions de l'intérêt que vous portez à ACTN, votre candidature a bien été transmise et sera étudiée dans les plus brefs délais. Nous vous recontacterons prochainement.</p>
<div class="cadre">
    <h4 class="blue">Informations légales</h4>
    <p>
        Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par ACTN pour permettre le traitement des candidatures.
        Les données collectées seront communiquées aux seuls destinataires suivants : M. Jean-Paul PENA en sa qualité de PDG et M. Jean-Christophe PENA, Directeur Général.
        Les données sont conservées pendant 30 jours à compter de leur réception.
        Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données
        en écrivant à <a href="mailto:recrutement@actn.fr">recrutement&#64;actn.fr</a> . Consultez le site <a href="https://www.cnil.fr" target="_blank" rel="noopener noreferrer">cnil.fr</a> pour plus d’informations sur vos droits.
    </p>
</div>
