@import "../sonicwall.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.ref {
    white-space: nowrap;
}

p {
    width: fit-content;
}

.prix {
    font-size: 1.2rem;
    color: $color-2;
}
