<div class="ml15">

  <app-title-w-line [title]="'Cloud PBX center'" [icon]="'search'"></app-title-w-line> 
</div>

<div class="iFrameDiv paddIframe">

  <!-- TITRE -->
  <h2 class="bleu main-title">Une solution PBX et UC dans le cloud complète, compatible avec les besoins des collaborateurs sur site, en télétravail et mobiles.</h2>

  <!-- IMAGE + LISTE -->
  <div class="header_section modern-section">
    <img loading="lazy" [src]="environment.img + '/cloud-pbx-centrex_1.png'" alt="cloud-pbx" class="pbx-img" />

    <ul class="features-list">
      <li>Une suite complète de téléphonie et de collaboration dans le cloud.</li>
      <li>Flexibilité &amp; simplicité : Libérez le potentiel des communications dans le cloud.</li>
      <li>Voix, vidéo, applications, collaboration dans une seule expérience.</li>
      <li>Solution clé en main : Profitez d’un service optimal dès aujourd’hui !</li>
      <li>Des fonctionnalités étonnantes. Des plans flexibles. Une valeur exceptionnelle.</li>
    </ul>
  </div>

  <!-- BOUTON -->
  <div class="btn-container">
    <a class="btn" href="https://www.actn.fr/catalogue/T%C3%A9l%C3%A9com/IPBX/iPBX%20cloud">
      Voir les références disponibles
    </a>
  </div>

</div>
