@if (configuration) {
  <div #html class="container">
  </div>
}

<ng-template #dispo let-produit="produit" let-qte="qte">
  @if (produit.gabarit === 'V') {
    <p>Produit dématérialisé</p>
  } @else {
    <p class="stock" [ngClass]="{ 'en-stock': qte <= produit.qteStock1 }">{{ produit.qteStock1 }} en stock</p>
  }
</ng-template>

@if (showPopup) {
  <div class="popup" [ngClass]="{active: showPopup}">
    <div class="popup-background" (click)="onHidePopup()" (tap)="onHidePopup()"></div>
    <div class="popup-window raised-3">
      <h3>Exporter votre configuration</h3>
      <hr/>
      @if (!mailSent) {
        <form [formGroup]="exportForm">
          <div class="raised-2">
            <p>
              <input formControlName="id" readonly/>
              <label>#ID de votre configuration</label>
            </p>
            <p class="l-2">
              <mat-radio-group formControlName="type" required>
                <mat-radio-button value="pdf">PDF</mat-radio-button>
                <mat-radio-button value="excel">Excel</mat-radio-button>
                <mat-radio-button value="mail">Envoi par mail</mat-radio-button>
              </mat-radio-group>
              <label>Format d'exportation</label>
            </p>
            <p class="l-2">
              <input formControlName="mail" type="email" id="mail" />
              <label for="mail">Saisir l'adresse email</label>
            </p>
          </div>
          <div class="raised-2">
            <p>
              <input formControlName="name" id="name" />
              <label for="name">Nom de votre configuration</label>
            </p>
            <p class="l-2">
              <textarea formControlName="commentaires" id="commentaires" rows="7"></textarea>
              <label for="commentaires">Commentaires</label>
            </p>
          </div>
        </form>
        <div class="buttons">
          <conf-chips-list>
            <button class="chips chips--whited" (click)="onHidePopup()" (tap)="onHidePopup()">Fermer</button>
            <button class="chips chips--selected" (click)="onExporter()" (tap)="onExporter()">Envoyer</button>
          </conf-chips-list>
        </div>
      } @else {
        <p>
          L'email a bien été envoyé à l'adresse {{ exportForm.get('mail').value }}
        </p><br/>
        <div class="buttons">
          <conf-chips-list>
            <button class="chips chips--whited" (click)="onHidePopup()" (tap)="onHidePopup()">OK</button>
          </conf-chips-list>
        </div>
      }
    </div>
  </div>
}
