@import "variables.scss";
@import "styles/bandeau.scss";
@import "../contrats/contrats.component.scss";
@import "filtres.scss";


:host {
	display: block;
	padding: 20px;
	@media screen and (max-width:425px){
		padding:10px
	}
}

.no-result {
	font-size: 1.4rem;
	font-weight: 550;
}

.block{
	margin: 10px;
}

.labels {

	justify-content: space-between;
	z-index: 10;
	font-size: 1rem;
	width: 100%;
	background-color: #fafafa;

	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;

		left: 0px;
		top: 150px;
		padding: 15px;
}

// DYNAMIC SIZE
.br10{
	border-radius: 10px;
}


.separator {
	margin-top: 20px;
}

.over {
	margin: 8px 0px 0px 0px;
	padding: 5px 6px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.entete {
	position: relative;

	font-size: 1rem;
	font-weight: normal;
}

.unroll-button {
	cursor: pointer;
	position: absolute;
	left: -48px;
	top: 5px;
	margin: 0px;
	padding: 0px;

	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 0.9rem;

	@media screen and (max-width: 767.98px) {
		display: none;
	}
}

.reliquat {
	padding: 10px;
	color: #003264;
	// color: #32ADDA;
	/* background-color: #d3f0ff *//* #9eddff *//* var(--color-primary-lighter) */;
}

.reliquatDetails {
	// display: none;
	padding: 10px;
	padding-top: 0px;

  line-height: 1.8;
}
.reliquatDetails hr{
	margin-top: 8px;
	margin-bottom: 8px;
}

.adresses {
  line-height: 1.5;
}

.detail-grid {
	display: grid;
	justify-items: start;
	grid-auto-flow: column;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
	@media screen and (max-width:768px){
		font-size: 0.8em;
		grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
		margin-left: -2px;
		row-gap: 15px;
	}
	/*@media screen and (max-width: 1700px) {
		grid-template-columns: 0fr 35fr 35fr 60fr 30fr 50fr;
	}
	@media screen and (max-width: 1400px) {
		grid-template-columns: 0fr 35fr 35fr 60fr 30fr 20fr;
	}
	@media screen and (max-width: 1200px) {
		grid-template-columns: 0fr 35fr 35fr 60fr 30fr 0fr;
	}*/
}
.size-phone{
	@media screen and (max-width:425px){
		font-size: 0.85em;
	}
	@media screen and (max-width:375px){
    	font-size: 0.79em;
	}
	
}
.designation{
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.designation-produit {
	
	@media screen and (max-width: 768px) {
	grid-row-start: 2;
    grid-column-start: 6;
    grid-column-end: 1;
    line-height: 0;
	inline-size: 300px;
    overflow-wrap: break-word;
	padding-bottom: 15px;
	margin-top: 5px;
	}
}

.marque{
	@media screen and (max-width:320px){
		inline-size:40px;
		overflow-wrap: break-word;
	}

	font-weight: 600;
}

.demandeDeDelaisButton {
	float: right;
	cursor: pointer;
	overflow: hidden;
	border-radius: 0 0 5px 5px;
	padding: 5px 10px;
	margin-bottom: 15px;
	background-color: var(--color-primary);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);
	color: white;
}
.demandeDeDelaisButtonDeactivated {
	background-color: gray;
}
.envelope {
}
.demandeDeDelaisSuccess {
	float: right;
	color: green;
	padding: 5px 10px;
}
.demandeDeDelaisFailure {
	float: right;
	color: red;
	padding: 5px 10px;
}

/* Named CSS */

.heavy-font {
  	font-weight: 550;
	font-size: 0.9rem;
}
.heavy-font1 {
	font-weight: 550;
  	font-size: 0.9rem;
	margin-bottom: 10px;
	@media screen and (max-width :768px){
		font-weight: bold;
		font-size:0.8em;
		margin-bottom: 15px;
		@media screen and (max-width :320px){
			font-size: 0.7em;
		}
	}
}
.pos-relative {
	position: relative;
}
.display-flex {
	display: flex;
	align-items: center;
}
.grow {
	flex-grow: 1;
	flex-basis: 0;
}
.floatClear {
	clear: both;
}

.underline {
	text-decoration: underline;
}

.arpdflink {
	cursor: pointer;
	text-decoration: underline;
}

.bgWhite{
	background-color: white;
}
.br3sur4{
	border-radius: 10px 10px 0px 10px;
}


.filtre-reliquat{
	display: flex;
	flex-direction: row;
}