.paddIframe{
    padding: 0px 15px 0px 15px;
    width: 100%;
  }

.CLeJourdesPecsZebi{
  padding: 20px;
  gap: 15px;
  display: grid;
  grid-template-rows:auto;
}
.example-full-width{
    margin: 15px;
}

.bgBlue{
    background-color: #008cb9;
    width: 50%;
  margin: auto;
}