@import "variables.scss";
@import "../header/header.component.scss";

header {
    position: fixed;
    top: -50px;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content auto max-content;
    grid-template-rows: 40px;
    column-gap: 20px;

    transition: top 0.3s cubic-bezier(0.7, 0, 0.84, 0);

    background: linear-gradient(0deg, rgba(245, 245, 248), white);

    &.show {
        top: 0px;
        transition: top 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    }

    padding: 5px $window-padding-screen;

    @media screen and (min-width: 1650px) {
        padding: 5px $window-padding-large-screen;
    }

    @media screen and (max-width: 1300px) {
        padding: 5px $window-padding-tablet;
    }

    @media screen and (max-width: $top-nav-small-breakpoint) {
        padding: 5px $window-padding-mobile;
    }

    .logos {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: min-content;
    }

    .logo-actn {
        display: block;
        height: 40px;
        max-height: 100%;

        img {
            height: 100%;
            object-fit: scale-down;
        }

        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    .brand-svg {
        height: 25px;
        margin-top: 10px;
        margin-right: 10px;
    }

    > .sub-nav {
        height: 50px;
        margin: 0;
        margin-top: -5px;
        padding: 0;
        font-weight: 300;
        background: transparent;
        border: none;

        .chevron {
            display: none;
            justify-self: flex-end;
        }

        .menu {
            height: 100%;
        }

        > .menu__item {
            text-transform: uppercase;
            padding: 0;
            width: unset;

            &:not(:last-of-type) {
                margin-right: 15px;
            }

            &::before {
                width: 0px !important;
            }

            &::after {
                width: 0px !important;
            }
        }

        .megamenu {
            left: 0px;
            min-width: 100%;
            max-width: 60vw;

            &.large {
                position: fixed;
                min-width: 0px;
                max-width: 100vw;
                top: 50px;
                left: $window-padding-screen;
                width: calc(100vw - 2 * #{$window-padding-screen});

                @media screen and (min-width: 1650px) {
                    left: $window-padding-large-screen;
                    width: calc(100vw - 2 * #{$window-padding-large-screen});
                }

                @media screen and (max-width: 1300px) {
                    left: $window-padding-screen;
                    width: calc(100vw - 2 * #{$window-padding-screen});
                }

                @media screen and (max-width: $top-nav-small-breakpoint) {
                    left: $window-padding-mobile;
                    width: calc(100vw - 2 * #{$window-padding-mobile});
                }
            }

            @media screen and (max-width: $top-nav-small-breakpoint) {
                position: fixed;
                top: 50px;
                left: 5vw;
                min-width: 90vw;
                width: 90vw;
            }
        }
    }

    .search-bar {
        height: 35px;
        font-size: 0.885em;
    }

    .icon-buttons {
        margin-left: auto;
        display: flex;
        flex-wrap: nowrap;

        .icon-button {
            padding: 0px;
            max-width: 120px;
            justify-content: flex-start;

            i {
                position: relative;
                font-size: 1.5rem;
            }

            &:not(:first-of-type) {
                margin-left: 15px;
            }

            &.logged {
                text-align: left;
                font-size: 0.775rem;

                span {
                    margin-left: 10px;
                }
            }

            .espace-client-menu-toggle__infos-client {
                font-size: 1rem;
                font-weight: 300;
                color: var(--color-primary-darker);
            }
        }
    }

    @media screen and (max-width: $sub-nav-small-breakpoint) {
        top: -60px !important;

        .search-bar {
            display: none;
        }
    }
}
.black{
    color: black;
    &:hover{
        color:rgb(50, 173, 218)
    }
}