@import "variables.scss";
@import "styles/bandeau.scss";

.full-width {
    width: 100%;
    margin-bottom: 10px;
}
.padding-5{
    padding: 10px 10px 10px 0px;
    font-weight: 700;
}
::ng-deep mat-radio-button .mdc-radio {
    padding-left: 0 !important;
  }

  ::ng-deep .mat-checkbox-layout {
    margin-left: 0 !important;
  }
.adresses {
    display: grid;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1600px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 950px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
    }

    max-height: 400px;
    margin-bottom: 20px;
    overflow: auto;
}

.adresse {
    padding: 10px !important;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.adresses-bouton {
    background-color: var(--color-primary);
    color: #fff;
}

.paiement_container {
    width: 100%;
    min-width: 333px;
    justify-self: end;
    display: flex;
    flex-direction: column;
  //  justify-content: flex-end;
    height: auto;
   // align-self: end;
    padding: 20px !important;

    .total {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        font-weight: 700;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.RIB{
    width: 100%;
    min-width: 333px;
    justify-self: end;
    display: flex;
    flex-direction: column;
  //  justify-content: flex-end;
    height: auto;
   // align-self: end;
   // padding: 20px !important;
   margin-bottom: 0px;
    h3{
        margin-bottom: 0px;
    }
    .total {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
       // padding: 5px 0;
       // font-weight: 700;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.no_m_top{
    margin-top: 0px!important;
}



.totaux {
    width: 300px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    align-self: end;
    padding: 20px !important;

    .total {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        font-weight: 700;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.paiement{
    display: flex;
    flex-direction: column;
}
.paiement_btn{
    padding: 10px 10px 10px 0px !important;
}
.valider_panier{
    margin-top: 40px;
}
.price-hr {
    margin: 10px 0;
}
.hide{
    display: none;
}
.rib_icon{
    cursor: pointer;
    color: var(--color-primary) !important;
    margin-left: 10px;
}
.rib_txt{
    font-weight: bold;
    align-self: end;
}
#devisBtn{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.calculPort {
    clear: both;
    font-size: 1rem;
    color: red;
    float: right;
    margin: 20px ;
}

.action-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    > :not(:last-child) {
        margin-right: 30px;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        > * > * {
            width: 100%;
        }

        > :not(:last-child) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        * {
            white-space: normal;
        }
    }
}

.errors {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > * {
        margin-top: 10px;
    }
}

.col-2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: max-content 300px;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    .liste-produits {
        padding-top: 1px;
    }
}
.col-3 {
    margin-top: 20px;
    display: grid;
   grid-template-columns: 4fr 4fr 4fr;
   //padding: 10px;
   gap: 15px;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
        grid-template-columns: 1FR;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    .liste-produits {
        padding-top: 1px;
    }
}

mat-form-field {
    min-width: 200px;
}

mat-radio-group {
    > *:not(:first-child) {
        padding: 10px;
        @media screen and (max-width: 425px) {
            padding-left: 0px;
        }
    }

    > *:first-child {
        padding: 10px 10px 10px 0;
    }
}

/* .paiement_container{
    display: grid;
    grid-template-columns: 9fr 3fr;
} */
.paiement_price{
    text-align: start;
    align-self: end;
}

.liste-produits {
    padding: 20px;

    @media screen and (max-width: 425px) {
        padding: 10px;
    }
    &:not(:first-of-type) {
        margin-top: 20px;
        padding-top: 1px;
    }
}

.bloc-client-final {
    @extend .liste-produits;
    margin-top: 20px;
}

.lawful-checkbox {
    margin-top: 20px;
    /*display: flex;*/
    align-items: center;
    padding-left: 0px;
}

.margin {
    margin-top: 5px;
}

.produit {
    margin: 40px 0px;
}

.smallfont {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    ::ng-deep .mat-radio-label {
        white-space: normal !important;
    }
}
.paiment{
    display: grid;
    grid-template-columns: 5fr 7fr;
}
.jtm_eric{
    display: grid;
    grid-template-columns: 5fr 7fr;
}
.TVA{
    padding-bottom: 20px !important;
}
.TTC{
    padding-top: 20px !important;
    border-top: grey solid 2px;
}

.eric{
    width: 400px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    align-self: end;
    padding: 20px !important;

    .total {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        font-weight: 700;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.text_left{
    display: flex;
    justify-content: end;
}


.progress {
    background: var(--color-primary);
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
  
  
    .progress-finish {
        animation: load 0s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        background: #fff;
        height: 45px;
        width: 0;
      }
    .progress-value {
        animation: load 3s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        background: #fff;
        height: 45px;
        width: 0;
    }

    @-webkit-keyframes fadeInFromNone{
        0% { display: none; opacity: 0; }
        60% { display: block; opacity: 0; }
        100% { display: block; opacity: 1;}
    }
    .bar{
        color: var(--color-primary);
        text-align: center;
        animation-name: fadeInFromNone;
        animation-duration: 3s;
    }

    .center{
        margin-top:10px;
    }
    .center-ordi{
        @media screen and (min-width:515px) {
            margin-top:10px;
        }
        
    }
    .bar2{
        margin:auto;
        color: #fff;
        text-align: center;
    }
}
    
.etape{
    margin:auto;
    color: var(--color-primary);
    text-align: center;
}
  
@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
.del-for-phone{
    @media screen and (max-width: 768px){
      display: none;
    }
}
.mat-expansion-panel{
    box-shadow: none !important;
}
/* .mat-expansion-panel :hover{
    background-color:#ffffff ;
} */
mat-accordion{
    padding: 0 !important;
    margin: 0 !important;
}


:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-expansion-panel-header{
    padding: 0px 10px 0px 0px;
}
:host ::ng-deep .mat-expansion-panel-content{
    font: inherit !important;
    
}
/* ta copine m'appelle le dos argenter,
    je la vois quand t'es pas la,
    mon gros z dans sa techa

 */

 .zeroPad{
    padding: 0 !important;
 }
 .overfloxVisible{
    overflow: visible !important;
 }
 .bgwhite{
    background-color: white !important;
    border-radius: 10px;
  }