<div class="activityTitleOneContainer">
  <app-title-w-line
    title="Suivi d'activité par catégories"
    annotation="en €"
    size="small"
    class="activityTitleOne"
  ></app-title-w-line>

  <div class="formatButtonsContainer">
    <button
      class="listFormatButton text-button"
      [ngClass]="{ active: suiviCategorieFormat.includes('array') }"
      title="Affichage du tableau des données"
      (click)="toggleCategorieSuiviFormat('array', 1)"
      appKeyboardFocus
      [matTooltip]="tooltipTableauLogo"
      [matTooltipPosition]="tooltipPosition"
      [matTooltipShowDelay]="tooltipShowDelay"
      [matTooltipHideDelay]="tooltipHideDelay"
    >
      <fa-icon [icon]="faTable"></fa-icon>
    </button>
    <button
      class="gridFormatButton text-button"
      [ngClass]="{ active: suiviCategorieFormat.includes('pizzas') }"
      title="Affichage des diagrammes circulaires"
      (click)="toggleCategorieSuiviFormat('pizzas', 1)"
      appKeyboardFocus
      [matTooltip]="tooltipDiagrameCirculaireLogo"
      [matTooltipPosition]="tooltipPosition"
      [matTooltipShowDelay]="tooltipShowDelay"
      [matTooltipHideDelay]="tooltipHideDelay"
    >
      <fa-icon [icon]="faChartPie"></fa-icon>
    </button>
  </div>
</div>

@if (clientCAcategorie) {
<!-- ARRAY DISPLAY -->
@if (clientCAcategorie && suiviCategorieFormat.includes('array')) {
<div class="ca-array-container">
  <div class="marque-row">
    <!-- TOP RIGHT BLANK -->
    <div class="blank-col annee-column"></div>
    <!-- YEARS LABELS -->
    @for (anneeLabel of caCategorieYearArray; track $index) {
    <div class="annee-column ca-labels columnLabel">
      {{ anneeLabel }}
    </div>
    }
  </div>
  <!-- ROWS -->
  @for (categorie of caCategorieCategorieArray; track $index) {
  <div class="marque-row ca-even-odd lightrow">
    <div class="annee-column ca-labels rowLabel">{{ categorie }}</div>
    @for (annee of caCategorieYearArray; track annee) {
    <div class="annee-column">
      {{ clientCAcategorie[categorie][annee] | number : "0.0-0" }}
    </div>
    }
  </div>
  }
</div>
}

<!-- CIRCULAR DIAGRAM DISPLAY -->
<!-- Le If detruit element dans le dom le plus clean c'est d'ajouter une classe plutot que de refaire tous le traitement -->
<div
  [ngClass]="{
    hidden: !(
      clientCAcategorie &&
      suiviCategorieFormat.includes('pizzas') &&
      categoriesSuiviPizzaCharts?.length
    )
  }"
  class="pizzaPlate categoriesPizzaPlate"
>
  @for ( annee of caCategorieYearArray.slice(); track $index; let index =
  $index) {
  <div class="pizza">
    <p class="pizzaTitle pizzaTitleCategories">{{ annee }}</p>

    <canvas class="delamama" #pieCanvas></canvas>
  </div>
  }
</div>
}
 @if(!clientCAcategorie || !categoriesSuiviPizzaCharts?.length){
<span> &nbsp;&nbsp;&nbsp;&nbsp;Aucune activité enregistrée </span>
}

<br /><br />

<!-- Graphique mensuel par catégories -->

<div class="del-for-phone" id="graph-mensuel">
  <app-title-w-line
    title="Graphique mensuel par catégories"
    size="small"
    [collapsible]="true"
    [collapsed]=""
    (click)="toggleCollapseDivById($event, 'graph-mensuel')"
  ></app-title-w-line>
  <div
    class="collapsible"
    style="padding: 0 1px"
    [@expandVertical]="
      collapsedIdsArray.includes('graph-mensuel') ? 'closed' : 'open'
    "
    [ngClass]="{ hide: collapsedIdsArray.includes('graph-mensuel') }"
  >
    <div id="chart">
      <canvas id="lineCanvas"></canvas>
    </div>
  </div>
</div>
<br />

<!-- Suivi d'activité par marques -->
<div class="activityTitleOneContainer">
  <app-title-w-line
    title="Suivi d'activité par marques"
    annotation="en €"
    size="small"
    class="activityTitleOne"
  ></app-title-w-line>
  <div class="formatButtonsContainer">
    <button
      class="listFormatButton text-button"
      [ngClass]="{ active: suiviMarqueFormat.includes('array') }"
      title="Affichage du tableau des données"
      (click)="toggleCategorieSuiviFormat('array', 2)"
      appKeyboardFocus
      [matTooltip]="tooltipTableauLogo"
      [matTooltipPosition]="tooltipPosition"
      [matTooltipShowDelay]="tooltipShowDelay"
      [matTooltipHideDelay]="tooltipHideDelay"
    >
      <fa-icon [icon]="faTable"></fa-icon>
    </button>
    <button
      class="gridFormatButton text-button"
      [ngClass]="{ active: suiviMarqueFormat.includes('pizzas') }"
      title="Affichage des diagrammes circulaires"
      (click)="toggleCategorieSuiviFormat('pizzas', 2)"
      appKeyboardFocus
      [matTooltip]="tooltipDiagrameCirculaireLogo"
      [matTooltipPosition]="tooltipPosition"
      [matTooltipShowDelay]="tooltipShowDelay"
      [matTooltipHideDelay]="tooltipHideDelay"
    >
      <fa-icon [icon]="faChartPie"></fa-icon>
    </button>
  </div>
</div>

@if (clientCA) {
<!-- ARRAY DISPLAY -->
@if (clientCA && suiviMarqueFormat.includes('array')) {
<div class="ca-array-container">
  <div class="marque-row">
    <!-- TOP RIGHT BLANK -->
    <div class="blank-col annee-column"></div>
    <!-- YEARS LABELS -->
    @for (anneeLabel of caYearArray; track $index) {
    <div class="annee-column ca-labels columnLabel">
      {{ anneeLabel }}
    </div>
    }
  </div>
  <!-- ROWS -->
  @for (marque of caBrandArray; track $index) {
  <div class="marque-row ca-even-odd lightrow">
    <div
      class="annee-column marque-link ca-labels rowLabel"
      [routerLink]="['/', 'catalogue', 'search']"
      [queryParams]="{ marque: marque }"
    >
      {{ marque }}
    </div>
    @for (annee of caYearArray; track $index) {
    <div class="annee-column">
      {{ clientCA[marque][annee] | number : "0.0-0" }}
    </div>
    }
  </div>
  }
</div>

}

<!-- CIRCULAR DIAGRAM DISPLAY -->



<div
  [ngClass]="{ hidden: !(clientCA && suiviMarqueFormat.includes('pizzas')) }"
  class="pizzaPlate marquesPizzaPlate"
>
  @for (annee of caYearArray.slice(); track $index; let index = $index) {
  <div class="pizza">
    <p class="pizzaTitle pizzaTitleMarques">{{ annee }}</p>

    <canvas #pieCanvasMarque></canvas>
  </div>
  }
</div>


<br /><br />

<!-- Hit parade produits -->
<app-title-w-line
  title="Hit parade produits"
  annotation="au cours des 2 dernières années par Nbre de commandes / C.A. en €"
  size="small"
></app-title-w-line>
<div class="ca-array-container">
  <div class="child marque-row label">
    <div class="marge-col centrageVertical">Référence</div>
    <div class="gauche centrageVertical">Marque</div>
    <div class="gauche centrageVertical">Désignation</div>
    <div
      class="centre classement centrageVertical"
      matTooltip="Top 20 par nombre"
      matTooltipClass="tooltip-suivi"
      [matTooltipPosition]="matToolTipPosition"
      [matTooltipShowDelay]="showDelay"
      [matTooltipHideDelay]="hideDelay"
      (click)="this.affichageNombre()"
      [ngClass]="{
        on: fondBleu === true,
        off: !fondBleu
      }"
    >
      Nombre de commandes
    </div>

    <div
      class="centre classement centrageVertical"
      matTooltip="Top 20 par C.A."
      matTooltipClass="tooltip-suivi"
      [matTooltipPosition]="matToolTipPosition"
      [matTooltipShowDelay]="showDelay"
      [matTooltipHideDelay]="hideDelay"
      (click)="this.affichageCa()"
      [ngClass]="{
        on: fondBleu2 === true,
        off: !fondBleu2
      }"
    >
      C.A.<br />en €
    </div>

    <div
      class="centre classement centrageVertical"
      matTooltip="Top 20 par quantite"
      matTooltipClass="tooltip-suivi"
      [matTooltipPosition]="matToolTipPosition"
      [matTooltipShowDelay]="showDelay"
      [matTooltipHideDelay]="hideDelay"
      (click)="this.affichageQuantite()"
      [ngClass]="{
        on: fondBleu3 === true,
        off: !fondBleu3
      }"
    >
      Quantité
    </div>
  </div>
  @for (element of elements; track element.produit) {
  <div class="child marque-row ca-even-odd lightrow">
    <div
      class="marge-col label"
      (click)="this.produitService.goToProduitById(element.produit)"
    >
      {{ element.produit }}
    </div>
    <div class="gauche">{{ element.marque }}</div>
    <div class="gauche">{{ element.designation }}</div>
    <div class="centreNombre">{{ element.nombre }}</div>
    <div class="centreCA">{{ element.ca }}</div>
    <div class="centreCA">{{ element.quantite }}</div>
  </div>
  }
</div>
}

<div
  style="
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div style="width: 98%; padding-top: 36px">
    <canvas #lineCanvasRefs></canvas>
  </div>
</div>


