.hik-ax-pro { 
	
	div {
		width: 100%
	}
	.banner {
		img {
			width: 100%;
		}
	}
	.texte {
		text-align: center;
	}
	.htmllibre-gradiant {
		display: none;
	}
	@media screen and (max-width: 599px) {
		.model {
			display: none;
		}
		.model-small {
			display: block;
			margin: 0 15px;
			img {
				display: none;
				width: 100%;
			}
			a {
				background-color: rgba(245, 245, 248, 0.7);
				border-radius: 15px;
				padding: 4px 6px;
				display: table;
				margin-bottom: 6px;
			}
		}
		/*.htmllibrebox-container {
			position: relative;
			padding: 0 10px;
			.htmllibrebox {
				max-height: 400px;
			}
			.htmllibre-gradiant {
				height: 100px;
			}
		}*/
		.htmllibrebox-container {
			display: block;
			position: relative;
			max-height: 300px;
			overflow: hidden;

			.htmllibre-gradiant {
				display: block;
				position: absolute;
				background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 100));
				height: 100px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				bottom: 0px;
				.raised-button {
					position: absolute;
					margin-left: 50%;
					transform: translateX(-50%);
					bottom: 22px;
				}
			}
		}

		.htmllibrebox {
			padding: 0 10px;
		}
	}
	@media screen and (min-width: 600px) and (max-width: 999px) {
		.model {
			position: relative;
			display: flex;
			font-size: 1.1rem;
			img {
				width: 100%;
			}
			.model-buttons {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				div	{
					padding: 10px;
				}
			}
			a {
				background-color: rgba(245, 245, 248, 0.7);
				border-radius: 15px;
				padding: 4px 6px;
				display: table;
				margin-bottom: 10px;
			}
		}
		.model-small {display: none;}
	}
	@media screen and (min-width: 1000px) {
		.model {
			position: relative;
			font-size: 1.1rem;
			img {
				width: 100%;
			}
			a {
				background-color: rgba(245, 245, 248, 0.7);
				border-radius: 15px;
				padding: 4px 6px;

				position: absolute;
			}
			.m01 {top: 14%; left: 2%;}
			.m02 {top: 49%; left: 0%;}
			.m03 {top: 71%; left: 1%;}
			.m04 {top: 88.5%; left: 2%;}
			.m05 {top: 95%; left: 2%;}

			.m06 {top: 16.5%; left: 49%;}
			.m07 {top: 31.5%; left: 59%;}
			.m08 {top: 46%; left: 66%;}
			.m09 {top: 66%; left: 55%;}
			.m10 {top: 78%; left: 48%;}

			.m11 {top: 46%; /* left: 81%; */ left: 85.5%; transform: translateX(-50%);}
			.m12 {top: 69%; /* left: 82%; */ left: 85.8%; transform: translateX(-50%);}
			.m13 {top: 89%; /* left: 80.5%; */ left: 85.6%;  transform: translateX(-50%);}
		}
		.model-small {display: none;}
	}
	.catalogue {

	}
	.voir-tout {
		.raised-button {
			margin: auto;
			margin-top: 35px;
			max-width: 250px;
			font-size: 1.2rem;
		}
	}		
}

.reddot {
	color: var(--color-secondary);
}
