<div id="container">
  @if (niveau === 1) {
    @if (structureCatalogue | async; as structure) {
      @for (categorie of structure.nodes; track categorie.value.photo; let i = $index) {
        <a class="cat" [routerLink]="['/catalogue', categorie.value.label]"
          routerLinkActive="router-link-active">
          {{ categorie.value.label1 }}
          <img [alt]="categorie.value.label"  loading="lazy" [src]="environment.photosUrl + categorie.value.photo + '.webp'" />
        </a>
      }
    }
  }



  @if (niveau === 2) {
    @if (structureCatalogue | async; as structure) {
      @for (categorie of structure.nodes; track categorie.value.label; let i = $index) {
        @if (categorie.value.label===chemin[1].label) {
          @for (sub_categorie of categorie.nodes; track sub_categorie.nodes; let i = $index) {
            @if (sub_categorie.nodes != null && sub_categorie.nodes.length >= 1) {
              <div class="cat">
                <a class="overlay" [routerLink]="['/catalogue', categorie.value.label, sub_categorie.value.label]">
                </a>
                <div>
                  {{ sub_categorie.value.label1 }}
                  <img [alt]="sub_categorie.value.label" loading="lazy"  [src]="environment.photosUrl + sub_categorie.value.photo + '.webp'" />
                </div>
                <a class="affichage"
                  [routerLink]="['/catalogue', categorie.value.label, sub_categorie.value.label, 'unique']"
                routerLinkActive="router-link-active">Voir tout</a>
              </div>
            } @else {
              <div class="cat">
                <a class="overlay" [routerLink]="['/catalogue', categorie.value.label, sub_categorie.value.label, 'unique']">
                </a>
                <div>
                  {{ sub_categorie.value.label1 }}
                  <img [alt]="sub_categorie.value.label" loading="lazy" [src]="environment.photosUrl + sub_categorie.value.photo + '.webp'" />
                </div>
                <a class="affichage"
                  [routerLink]="['/catalogue', categorie.value.label, sub_categorie.value.label, 'unique']"
                routerLinkActive="router-link-active">Voir tout</a>
              </div>
            }
          }
          <!-- CYBERSECURITE -->
          @if (categorie.value.label == 'Cybersécurité') {
            <div class="cat blueshadow">
              <a class="overlay" [routerLink]="['/licences-cybersecurite']">
              </a>
              <div>
                Espace Licences et Logiciels Cybersécurité
                <fa-icon transform="flip-h" [icon]="faCogs"></fa-icon>
              </div>
            </div>
            <div class="cat blueshadow">
              <a class="overlay" [routerLink]="['/configurateur', 'zyxel']">
              </a>
              <div>
                Configurateur Firewall
                <img alt="Configurateur Zyxel" loading="lazy" [src]="environment.configurateurZyxel + 'img/zyxel-networks-logo-black.webp'" />
              </div>
            </div>
            <!--  <div class="cat blueshadow">
            <a class="overlay" [routerLink]="['/configurateur', 'sonicwall']">
            </a>
            <div>
              Configurateur Firewall
              <svg [innerHTML]="SonicwallIcon" preserveAspectRatio="xMinYMin slice" viewBox="0 0 310 50"></svg> --
              <img alt="Configurateur SonicWall" [src]="environment.configurateurSonicWall + 'img/SONI.gif'" />
            </div>
          </div> -->
        }
        <!-- FORMATIONS -->
        @if (categorie.value.label == 'Formations') {
          <div class="cat blueshadow">
            <a class="overlay" href="https://blog.actn.fr/?post_type=tribe_events&eventDisplay=list&tribe-bar-search=formation" target="_blank">
            </a>
            <div>
              Voir le calendrier des évènements
              <a class="overlay" href="https://blog.actn.fr/?post_type=tribe_events" target="blank">
                <fa-icon transform="flip-h" [icon]="faCalendarAlt"></fa-icon></a>
              </div>
            </div>
          }
          <!-- onlyWan -->
          @if (categorie.value.label == 'Télécom') {
            <div style="background-color: #008cb9;" class="cat">
              <a class="overlay" href="https://blog.actn.fr/?post_type=tribe_events&eventDisplay=list&tribe-bar-search=formation" target="_blank">
              </a>
              <div>
                <a class="overlay" [routerLink]="['/onlywan']"><img id="onlyWan" loading="lazy" src="assets/img/OnlyWAN ALL WHITE RGB.webp" alt="logo onlywan">
                </a>
              </div>
            </div>
          }
        }
      }
    }
  }

  @if (niveau === 3) {
    @if (structureCatalogue | async; as structure) {
      @for (categorie of structure.nodes; track categorie.value.label; let i = $index) {
        @if (categorie.value.label===chemin[1].label) {
          @for (sub_categorie of categorie.nodes; track sub_categorie.value.label; let i = $index) {
            @if (sub_categorie.value.label===chemin[2].label) {
              <div class="page">
                <div class="toutVoir size-big">
                  <a class="raised-button" [routerLink]="['/catalogue', categorie.value.label, sub_categorie.value.label, 'unique']"
                    routerLinkActive="router-link-active">Voir toute la catégorie {{ sub_categorie.value.label }}
                  </a>
                </div>
              </div>
              @for (sub_sub_categorie of sub_categorie.nodes; track sub_sub_categorie.value.label; let i = $index) {
                <a class="cat"
                  [routerLink]="['/catalogue',categorie.value.label, sub_categorie.value.label, sub_sub_categorie.value.label]"
                  routerLinkActive="router-link-active">
                  {{ sub_sub_categorie.value.label }}
                  <img [alt]="sub_sub_categorie.value.label" loading="lazy" [src]="environment.photosUrl + sub_sub_categorie.value.photo + '.webp'" />
                </a>
              }
            }
          }
        }
      }
    }
  }

</div>
