@import "../sonicwall.scss";
@import "styles/popup.scss";

.bloc-container {
    position: relative;
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
        margin: 0 auto;
    }

    .prix {
        font-size: 1.6em;
        color: $color-1;
    }

    .prix-public {
        font-size: 1.2em;
        color: $color-1;
        margin: 10px 0;
    }

    .question-mark {
        position: absolute;
        bottom: -3px;
        right: 5px;
        font-size: 2em;
        color: $color-2;
    }

    conf-chips-list {
        margin-top: 12px;
    }
}

.bloc-container + .bloc-container {
    margin-top: 20px;
    background: $color-grey;
}
