

<div class="ml15">

  <app-title-w-line [title]="'Offre SIP Trunk'" [icon]="'search'"></app-title-w-line> 
</div>

<div class="iFrameDiv paddIframe">
 
 <mat-card>
    <h1 class="title" align="center">Construisez le Trunk qui vous ressemble !</h1>
  <div class="header_section">
    
    
    
    <img loading="lazy" [src]="environment.img + '/sip-trunk_1.webp'" id="img_tel" height="auto" alt="" />
    <ul>
      <li>SIP Trunk et Multisite : votre téléphonie s'adapte à votre entreprise.</li>
      <li>En natif ou avec passerelle, compatible IPBX et PABX. </li>
      <li>Un Trunk pour les gouverner tous. </li>
      <li>Double opérateurs double technologies. </li>
      <li>Routage SDA par SDA. </li>
      <li>Toujours plus de sécurité. </li>
      <li>Vos appels inter-sites gratuits. </li>
    </ul>

  </div>
</mat-card>
<div class="btn-container"><a class="btn" href="https://www.actn.fr/actn/catalogue/T%C3%A9l%C3%A9com/Abonnements%20VoIP/unique">&nbsp;Voir les références disponibles&nbsp;</a></div>
  <br>
  <mat-card>
  <p align="center"><strong style="color: #008cb9;">Editeurs &amp; Solutions compatibles</strong></p>

  <div class="imgGrid" align="center">
    <img loading="lazy" [src]="environment.img +'/BERONET.webp'"    class="marqueImg"
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/BICOM.webp'"  class="marqueImg"  
    alt="solution compatibles" />
  
    <img loading="lazy" [src]="environment.img +'/GRANDSTREAM.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/INNOVAPHONE.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/MICROSOFTTEAMS.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/PATTON.webp'"   class="marqueImg" 
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/UNIFY.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/WILDIX.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/XIVO.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/YEASTAR.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/3CX.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/ALCATEL.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/ASTERISK.webp'"   class="marqueImg" 
    alt="solution compatibles" />
    <img loading="lazy" [src]="environment.img +'/AVAYA.webp'"  class="marqueImg"  
    alt="solution compatibles" />
    </div> 
  </mat-card>
  <br>
  <br>
  
  </div>

