<footer class="size-small">

  <div>
    <h1>ACTN</h1>

    <div id="legal">
      Déclaration CNIL nº1398483
    </div>

    <div class="presentation">
      <a id="apropos"
        [routerLink]="['/obj-display']"
        [queryParams]="{url: urlAP}">
        À propos
      </a>
      <br/>
      <a
      [routerLink]="['/obj-display']"
      [queryParams]="{url: urRSE}"
                >
        Politique RSE
      </a>
      <br/>
      <a [routerLink]="['/', 'recrutement']">Recrutement</a>
      <br/>
      <a [routerLink]="['/', 'catalogue', 'nos-marques']">Nos marques</a>
      <br/>
      <a [routerLink]="['/', 'catalogue', 'metiers']">Nos métiers</a>
      <br/>
      <a [routerLink]="['/', 'catalogue', 'Formations']">Nos formations</a>
    </div>
  </div>

  <div class="adresse">
    <h3>Nos locaux</h3>
    <a href="https://goo.gl/maps/spaC7Mghr3Cm7oo56" target="_blank">
      3, impasse Denis Papin<br />
      Z.I. de Pahin<br />
      31170 Tournefeuille<br />
    </a>
    <br/>
    <a [routerLink]="['/', 'ressources', 'formation']">Centre de formation</a><br />
    <a [routerLink]="['/conditions-generales-de-vente']">Conditions générales de vente</a><br/>
    <a [routerLink]="['/conditions-sav']">Conditions du SAV</a><br />
    <a (click)="cookieService.showParams()" (tap)="cookieService.showParams()">Gérer mes cookies</a>
  </div>

  <div class="contacts">
    <h3>Contacts</h3>
    <h4>Service Commercial</h4>
    <a href="tel:+33562488488">05 62 488 488</a><br />
    <h4>Hotline Technique</h4>
    <a href="tel:+33892700131">0 892 700 131</a><br />
    <div>
      <h4>
        <a [routerLink]="['/contacts']" routerLinkActive="router-link-active">
          Autres contacts
        </a>
      </h4>
      <br/>
      <h4>
        <a [routerLink]="['/ouverture-de-compte']">Ouvrir un compte</a><br/>
      </h4>
    </div>
  </div>


  <div class="support_technique">
    <h3>Support Technique</h3>
    <a [routerLink]="['/ticket']" target="_blank">Comment ouvrir un ticket</a><br />
    <!-- <a target="_blank" [href]="urlLogicielAssistance">Téléchargement du logiciel d'assistance (Splashtop 8,0 Mo)</a> -->
    <a target="_blank" [href]="urlLogicielAssistanceWIN" download="SupportACTN.exe">Téléassistance ACTN Windows (8,0Mo)</a> <br />
    <a target="_blank" [href]="urlLogicielAssistanceMOS" download="SupportACTN.dmg">Téléassistance ACTN MacOS (10,0Mo)</a><br />

  </div>
  <div class="social-networks">
    <h3>Restons connectés</h3>
    <div class="icons">
      <a title="LinkedIn" href="https://fr.linkedin.com/company/actn" target="_blank"><img alt="linkedin"
        loading="lazy" src="assets/img/001-linkedin.webp"/></a>
      <a title="Blog ACTN" href="https://blog.actn.fr/" target="_blank"><fa-icon class="aicon" [icon]="faNewspaper"></fa-icon></a>
      <a title="Plateforme VOD ACTN" href="https://www.gotostage.com/channel/7fe714b31eb644c2904b7fd6b410f531" target="_blank"><img loading="lazy" alt="youtube" src="assets/img/002-vod.webp"/></a>
      <a title="Prochains événements" href="https://blog.actn.fr/?post_type=tribe_events" target="_blank"><fa-icon class="aicon" [icon]="faCalendarAlt"></fa-icon></a>
    </div>
  </div>

</footer>
