<div class="iFrameDiv">

  <!-- HEADER -->
  <div class="header">
    <img loading="lazy" [src]="environment.img + '/onlywan-removebg-preview.png'" alt="header" class="imgHeader" />
  </div>

  <!-- TITRE ET SOUS-TITRE -->
  <div class="header-text-below">
    <h1>Un seul fournisseur pour construire votre offre télécom !</h1>
    <p><strong>Nos solutions pour répondre à chacun de vos besoins :</strong></p>
  </div>

  <!-- SERVICES GRID -->
  <div class="services-grid">
    <div class="service-card">
      <img loading="lazy" [src]="environment.img +'/onlywan_ico_telephoniedentreprise.svg'" alt="Téléphonie" class="service-icon" />
      <h3 class="bold">Téléphonie d’entreprise</h3>
      <ul>
        <li>Abonnement téléphonique</li>
        <li>PBX Centrex Cloud</li>
        <li>SIP Trunk</li>
      </ul>
    </div>

    <div class="service-card">
      <img loading="lazy" [src]="environment.img +'/onlywan_ico_internet.svg'" alt="Internet" class="service-icon" />
      <h3 class="bold">Internet & réseau d’entreprise</h3>
      <ul>
        <li>Accès Internet Fibre FTTx</li>
        <li>Cartes SIM</li>
      </ul>
    </div>

    <div class="service-card">
      <img loading="lazy" [src]="environment.img +'/onlywan_ico_cloud.svg'" alt="Cloud" class="service-icon" />
      <h3 class="bold">Cloud d’entreprise</h3>
      <ul>
        <li>Hébergement web</li>
        <li>Serveurs infogérés</li>
        <li>Stockage</li>
      </ul>
    </div>
  </div>
</div>
