<app-title-w-line title="Nos marques" size="small"></app-title-w-line>
<div class="firstLetterLinks">
  <div class="letterContainer">
    <div class="firstLetterLink" *ngFor="let firstChar of firstLetters | keyvalue"
         (click)="removeMarque(firstChar.key)">
      {{ firstChar.key }}
    </div>
  </div>

  <mat-chip-listbox class="mat-chip-list-stacked" aria-label="Color selection">
    <button class="raised-button voirBtn" *ngIf="hideBtn != true" [disabled]="btnVoir != true"
            (click)="resetMarque()">Voir toutes
    </button>
  </mat-chip-listbox>

</div>


<div class="container">
  @if (marques) {
    <ng-container *ngFor="let marque of marques; index as i;">


      <div [attr.id]="removeSpaces(marque[1])" class="marque-container"
           [ngClass]="{'expanded': (marqueService.marquePicked$ | async) == marque[1]}"
           *ngIf="getCategoriesParMarques(marque[1]).url ==='';else regular ">
        <!-- IMG -->
        <div class="marque" [ngClass]="{marqueSelected:(marqueService.marquePicked$ | async) == marque[1]}">
          <div (click)="toggleMarquePicked(marque[1], i)"
               [ngClass]="{'selected': (marqueService.marquePicked$ | async) == marque[1]}">
            <img [default]="environment.logoMarquesCouleurs200x80 + 'ACTN.gif'"
                 [src]="environment.logoMarquesCouleurs200x80 + marque[1] + '.gif'" [alt]="marque[0]" loading="lazy"/>
            <p><span *ngIf="(marqueService.marquePicked$ | async) !== marque[1]; else hideMarque">{{ marque[0] }}</span>
              <ng-template #hideMarque>&nbsp;</ng-template>
            </p>
          </div>
        </div>
        <!-- LISTE AFFICHABLE -->
        <div class="categoriesMarque" #categoriesMarqueShow
             [ngClass]="{'show' :(marqueService.marquePicked$ | async) == marque[1]}" *ngIf="marques.length > 0">
          <p [routerLink]="['/', 'catalogue', 'search']" [queryParams]="{ marque: marque[1] }"
             class="categoriesMarqueTitle">{{ marque[0] }}</p>
          <div class="details-marque">

            <div class="sub-categories" [style.column-count]="getNbColonnesPourMarque(marque[1])"
                 [style.width]="colonnesMax == getNbColonnesPourMarque(marque[1]) ? '100%' : 'fit-content'">
              <ng-container *ngFor="let lvl1 of getCategoriesParMarques(marque[1]).sub">
                <p class="categoriesMarqueElement lvl1">
                  {{ lvl1.label }}
                </p>
                <div class="niv2" *ngFor="let lvl2 of lvl1.sub">
                  <a *ngIf="lvl2.label" class=" categoriesMarqueElement lvl2"
                     [routerLink]="['/catalogue/' + '/' + normalizeStringForUrl(lvl1.label) + '/' + normalizeStringForUrl(lvl2.label) + '/unique']"
                     [queryParams]="{ marque: marque[1] }">
                    {{ lvl2.label }}
                  </a>
                  <ng-container *ngFor="let lvl3 of lvl2.sub">
                    <a *ngIf="lvl3.label" class=" categoriesMarqueElement lvl3"
                       [routerLink]="['/catalogue/' + '/' + normalizeStringForUrl(lvl1.label) + '/' + normalizeStringForUrl(lvl2.label) + '/' + normalizeStringForUrl(lvl3.label)]"
                       [queryParams]="{ marque: marque[1] }">
                      {{ lvl3.label }}
                    </a>
                  </ng-container>

                </div>
              </ng-container>


              <div class="blockalacon">


                <ng-container *ngIf="isPartenaire(marque[1]) !== ''">
                  <button mat-button class="raised-button voirBtn" (click)="openLink(marque[1])" target="_blank">
                    Programme partenaire
                  </button>
                </ng-container>


                <h3 class="sav" (click)="procedureSAV(marque[0])">Procédure SAV {{ marque[0] }}</h3>
              </div>

            </div>
          </div>
          <app-banniere emplacement="top" [marques]="[marque[1]]"></app-banniere>
        </div>
      </div>

      <!-- Affichage pour les marques  qui ont besoins d'une rediction direct sur leur site ex(shuttle)-->
      <ng-template #regular>
        <div [attr.id]="removeSpaces(marque[0])" class="marque-container"
             [ngClass]="{'expanded': marqueService.getMarquePicked() == marque[1]}">
          <div class="marque" [ngClass]="{marqueSelected: marqueService.getMarquePicked() == marque[1]}">
            <div (click)="redirect(getCategoriesParMarques(marque[1]).url)"
                 [ngClass]="{'selected': marqueService.getMarquePicked() == marque[1]}">
              <img [default]="environment.logoMarquesCouleurs200x80 + 'ACTN.gif'"
                   [src]="environment.logoMarquesCouleurs200x80 + marque[1] + '.gif'" [alt]="marque[0]" loading="lazy"/>
              <p><span *ngIf="marqueService.getMarquePicked() !== marque[1]; else hideMarque">{{ marque[0] }}</span>
                <ng-template #hideMarque>&nbsp;</ng-template>
              </p>
            </div>
          </div>


        </div>
      </ng-template>
    </ng-container>
  }
</div>

