<app-title-w-line title="Nos marques" size="small"></app-title-w-line>
<div class="firstLetterLinks">
  <div class="letterContainer">
    @for (firstChar of firstLetters | keyvalue; track firstChar) {
      <div class="firstLetterLink" (click)="removeMarque(firstChar.key)">
        {{ firstChar.key }}
      </div>
    }
  </div>

  <mat-chip-listbox class="mat-chip-list-stacked" aria-label="Color selection">
    @if (hideBtn != true) {
      <button class="raised-button voirBtn" [disabled]="btnVoir != true"
              (click)="resetMarque()">Voir toutes
      </button>
    }
  </mat-chip-listbox>

</div>


<div class="container">
  @if (marques) {
    @for (marque of marques; track marque; let i = $index) {
      <ng-container>
        @if (getCategoriesParMarques(marque[1]).url === '') {
          <div [attr.id]="removeSpaces(marque[1])" class="marque-container"
               [ngClass]="{'expanded': (marqueService.marquePicked$ | async) == marque[1]}">
            <!-- IMG -->
            <div class="marque" [ngClass]="{marqueSelected:(marqueService.marquePicked$ | async) == marque[1]}">
              <div (click)="toggleMarquePicked(marque[1], i)"
                   [ngClass]="{'selected': (marqueService.marquePicked$ | async) == marque[1]}">
                <img [default]="environment.logoMarquesCouleurs200x80 + 'ACTN.gif'"
                     [src]="environment.logoMarquesCouleurs200x80 + marque[1] + '.gif'" [alt]="marque[0]"
                     loading="lazy"/>
                <p>
                  @if ((marqueService.marquePicked$ | async) !== marque[1]) {
                    <span>{{ marque[0] }}</span>
                  } @else {
                    <ng-container>&nbsp;</ng-container>
                  }
                </p>
              </div>
            </div>
            <!-- LISTE AFFICHABLE -->
            @if (marques.length > 0) {
              <div class="categoriesMarque" #categoriesMarqueShow
                   [ngClass]="{'show' :(marqueService.marquePicked$ | async) == marque[1]}">
                <p [routerLink]="['/', 'catalogue', 'search']" [queryParams]="{ marque: marque[1] }"
                   class="categoriesMarqueTitle">{{ marque[0] }}</p>
                <div class="details-marque">

                  <div class="sub-categories" [style.column-count]="getNbColonnesPourMarque(marque[1])"
                       [style.width]="colonnesMax == getNbColonnesPourMarque(marque[1]) ? '100%' : 'fit-content'">
                    @for (lvl1 of getCategoriesParMarques(marque[1]).sub; track lvl1) {
                      <ng-container>
                        <p class="categoriesMarqueElement lvl1">
                          {{ lvl1.label }}
                        </p>
                        @for (lvl2 of lvl1.sub; track lvl2) {
                          <div class="niv2">
                            @if (lvl2.label) {
                              <a class=" categoriesMarqueElement lvl2"
                                 [routerLink]="['/catalogue/' + '/' + normalizeStringForUrl(lvl1.label) + '/' + normalizeStringForUrl(lvl2.label) + '/unique']"
                                 [queryParams]="{ marque: marque[1] }">
                                {{ lvl2.label }}
                              </a>
                            }
                            @for (lvl3 of lvl2.sub; track lvl3) {
                              <ng-container>
                                @if (lvl3.label) {
                                  <a class=" categoriesMarqueElement lvl3"
                                     [routerLink]="['/catalogue/' + '/' + normalizeStringForUrl(lvl1.label) + '/' + normalizeStringForUrl(lvl2.label) + '/' + normalizeStringForUrl(lvl3.label)]"
                                     [queryParams]="{ marque: marque[1] }">
                                    {{ lvl3.label }}
                                  </a>
                                }
                              </ng-container>
                            }

                          </div>
                        }
                      </ng-container>
                    }


                    <div class="blockalacon">


                      @if (isPartenaire(marque[1]) !== '') {
                        <ng-container>
                          <button mat-button class="raised-button voirBtn" (click)="openLink(marque[1])"
                                  target="_blank">
                            Programme partenaire
                          </button>
                        </ng-container>
                      }


                      <h3 class="sav" (click)="procedureSAV(marque[0])">Procédure SAV {{ marque[0] }}</h3>
                    </div>

                  </div>
                </div>
                <app-banniere emplacement="top" [marques]="[marque[1]]"></app-banniere>
              </div>
            }
          </div>
        } @else {

          <!-- Affichage pour les marques  qui ont besoins d'une rediction direct sur leur site ex(shuttle)-->
          <ng-container>
            <div [attr.id]="removeSpaces(marque[0])" class="marque-container"
                 [ngClass]="{'expanded': marqueService.getMarquePicked() == marque[1]}">
              <div class="marque" [ngClass]="{marqueSelected: marqueService.getMarquePicked() == marque[1]}">
                <div (click)="redirect(getCategoriesParMarques(marque[1]).url)"
                     [ngClass]="{'selected': marqueService.getMarquePicked() == marque[1]}">
                  <img [default]="environment.logoMarquesCouleurs200x80 + 'ACTN.gif'"
                       [src]="environment.logoMarquesCouleurs200x80 + marque[1] + '.gif'" [alt]="marque[0]"
                       loading="lazy"/>
                  <p>
                    @if (marqueService.getMarquePicked() !== marque[1]) {
                      <span>{{ marque[0] }}</span>
                    } @else {
                      <ng-container>&nbsp;</ng-container>
                    }
                  </p>
                </div>
              </div>


            </div>
          </ng-container>
        }
      </ng-container>
    }
  }
</div>

