@import "variables.scss";
@import "styles/chips.scss";


$nbItem: 7;
$margin: 10px;

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 300px;

    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    @media screen and (min-width: 1650px) {
        grid-template-columns: repeat(8, 1fr);
    }

    @media screen and (max-width: 1300px) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (max-width: 720px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.voirBtn{
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.letterContainer{
    display: contents;
    @media screen and (max-width:500px){
        display: flex;
        gap: 3px;
    }
}
.marque-container {
    transition: box-shadow 0s linear 0ms;
    max-height: 110px;
    overflow: hidden;

    &.expanded {
        transition: box-shadow 400ms linear 400ms, max-height 400ms cubic-bezier(0.16, 1, 0.3, 1);
        max-height: 1000px;
        // box-shadow: 0 -3px 8px 2px rgba(0, 0, 0, 0.3);
    }
}

.marque {
    pointer-events: auto;
    max-height: 110px;
    height: 110px;

    > div {
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;

        &.selected {
            pointer-events: auto;
            border: 2px solid var(--color-primary);
            border-bottom-color: white;
            position: relative;
            z-index: 6;
            height: 112px;
            background: white;
        }
    }

    // transition: all 0ms ease-in-out;
    filter: grayscale(100%);
    background-color: inherit;

    &:hover {
        // transition: all 400ms ease-in-out;
        filter: grayscale(0%);
        // background-color: rgba(105, 105, 105, 0.1);
    }

    p {
        margin: 0;
        text-align: center;
    }

    img {
        mix-blend-mode: multiply;
        max-width: 90%;
        object-fit: scale-down;
        border-radius: 15px;
    }
}

.categoriesMarque {
    pointer-events: auto;
    transition: box-shadow 0s linear 0ms;
    max-height: 0px;
    height: 20000px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: none;
    overflow: hidden;
    @media screen and (max-width:720px){
        position: static;
    }
    // display: flex;
    // flex-flow: column wrap;

    background-color: white;
    // color: var(--color-primary);

    &:hover {
        background-color: white;
    }

    &.show {
        transition: box-shadow 400ms linear 400ms, max-height 400ms cubic-bezier(0.16, 1, 0.3, 1);
        max-height: 600px;
        border: 2px solid var(--color-primary);
        // box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.3);
    }
}

.details-marque {
    max-height: 330px;
    display: flex;
    flex-wrap: nowrap;
    // min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 15px;
}

// Pour faire en sorte que le hack pour Chrome ne se répercute pas sur Firefox.
// https://stackoverflow.com/a/32547561
@-moz-document url-prefix() {
    .lvl1 {
        display: block !important;

        &::after {
            content: '' !important;
            height: 0px !important;
            margin-bottom: 0px !important;
        }

        + .niv2 {
            margin-top: 0px !important;
        }
    }
}

.lvl1 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-primary);

    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    break-inside: avoid;
    page-break-inside: avoid;
    @media screen and (max-width:720px) {
        padding-left: 0px;
    }

    // Permet de fix le break-inside qui ne marche pas sur Chrome.
    // https://stackoverflow.com/a/53742871
    &::after {
        content: "a \A a \A a \A a \A a \A a \A a";
        color: transparent;
        display: block;
        white-space: pre;
        height: 200px;
        margin-bottom: -200px;
    }

    + .niv2 {
        margin-top: -155px;
    }
}

.sub-categories {
    height: 100%;
    max-height: 100%;
    column-gap: 50px;
    padding: 0px 33px;

    > * {
        min-width: 200px;
        @media screen and (max-width:720px){
            min-width: 100px;
        }
    }

    > a:not(.lvl1) {
        display: block;
    }

    .lvl2 {
        padding: 0px 10px 16px 10px;
        text-transform: none;
        font-weight: 600;

        + .lvl3 {
            margin-top: -8px;
        }
        @media screen and (max-width:720px){
            padding: 0px 10px 16px 3px;
        }
    }

    .lvl3 {
        padding-left: 10px;
        font-weight: 400;
        font-size: calc(#{1 - $font-scale}rem);
    }
}

div .lvl3:last-of-type {
    padding-bottom: 16px;
}

.niv2 {
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    + .niv2 {
        padding-top: 0px;
    }
}

.categoriesMarqueTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primary);
    margin: 8px 16px;
    width: max-content;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
.categoriesMarqueElement:not(.lvl1) {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.marqueSelected {
    // border-width: 3px;
    // border-style: solid;
    // border-color: var(--color-primary);
    // border-radius: 5px;
    pointer-events: none;
    filter: grayscale(0%);
    z-index: 5;
    position: relative;
    @media screen and (max-width:720px){
        display: none;
    }
}

.firstLetterLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    direction: row;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 10px;

    .firstLetterLink {
        cursor: pointer;
    }
    .firstLetterLink:hover {
        transform: scale(1.5);
    }
    @media screen and (max-width:500px){
        flex-direction: column;
    }
}
.sav {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: var(--color-primary);
    padding-bottom: 5px;
    border-top: 1px solid lightgray;
    break-inside: avoid;
    page-break-inside: avoid;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 20px;
    &:hover {
      color: var(--color-primary);
    }
  
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--color-primary);
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }
  
    &:hover::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
  
  
  .sav:hover {
    animation: hoverAnimation 0.3s ease-in-out;
  }

 

  .blockalacon{
    display: flex;
    flex-direction: column;

    button{
        background-color: #023c75;
        color: white;
    }

  }