<div class="ml15">
  <app-title-w-line [title]="'Cartes SIM'" [icon]="'search'"></app-title-w-line>

</div>
<div class="iFrameDiv paddIframe">
    
 <br>
 
 <div class="boxOnlywan">

 
  <h2 class="bleu" align="center"><strong>Cartes SIM 100% Internet mobile Full Data</strong></h2>
  <br>
  <div class="section">

    <img loading="lazy" [src]="environment.img +'/sim-data_1.jpg'" width="313" height="298" alt="" />
    <div class="grid">
      <p  class="ml27">L’offre <strong>FULL DATA</strong> vous permet de bénéficier d’<strong>une ligne mobile ne proposant que de la
          DATA</strong> (blocage voix, SMS, MMS) sur des<strong> liens d’accès 4G/5G Orange</strong>. </p>
      <p  class="ml27">Idéal Pour des<strong> usages 100% Internet mobile</strong> avec des lignes mobiles dans des routeurs, des
        tablettes, des équipements connectés ou même un téléphone dans le cadre d’un usage principal en point d’accès
        internet. </p>
      <p  class="ml27">Ce service répond à de nombreux enjeux pour la connectivité de vos clients : </p>
      <div >
        <ul>
          <li><strong>Backup</strong> (liaison secondaire en secours d’une liaison principale cuivre ou optique). </li>
          <li>Besoin de <strong>connectivité immédiate</strong> (en attente de déploiement d’une liaison filaire). </li>
          <li>Raccordement de <strong>sites isolés</strong> (couverture des “ zones blanches”) d’une caméra ou un point
            d’accès Wi-Fi. </li>
        </ul>
      </div>
    </div>

  </div>

 
  <div class="btn-container"><a class="btn" href="https://www.actn.fr/actn/catalogue/T%C3%A9l%C3%A9com/Abonnement%20internet/Cartes%20SIM%20DATA">&nbsp;Voir les références disponibles&nbsp;</a></div>
</div>
  
  <br>
  <br>
  
  <br>

  <div class="boxOnlywan">
    
    
    
    <div>
    <h2 align="center" class="bleu"><strong>Cartes SIM M2M centrale d’alarme</strong></h2>
    <br>
    <div class="section">

      <img loading="lazy" style="border-radius: 20px;" [src]="environment.img +'/sim-m2m_1.jpg'" width="400" height="333" alt="" />

      <div class="grid">
        <p class="ml27">Cet abonnement M2M pour carte SIM référence SIM-CARTE est destiné à une application d'alerte de centrale
          d'alarme. </p>
        <p class="ml27">Elle possède 300Mo de data, 2 minutes d'appel vocal et 2 SMS. </p>
        <p class="ml27">Chaque SMS supplémentaire en hors forfait sera facturé. </p>
        <p class="ml27">La résiliation de ce service se fait par simple e-mail auprès de votre commercial.  </p>
        <div class="justify-content">
          <ul>
            <li>Carte multi-opérateurs 2G/3G/4G (choix automatique de l'opérateur en fonction de la couverture).</li>
            <li> Carte pré-activée : elle devient pleinement active dès la première consommation lorsqu'elle est
              connectée à une alarme. Renseigner l’adresse APN m2m.movistar.es dans la configuration de votre
              périphérique. </li>
            <li>Forfait initial : 2 minutes d'appels + 2 SMS par mois.</li>
            <li>Les appels voix ET les SMS hors forfait seront facturés.</li>
            <li> Facturation hors forfait sur la base tarifaire des références : <strong>SIM-SMS</strong> et
              <strong>SIM-MINUTE</strong>. </li>
            <li>Facture émise en fin de mois. </li>
            <li>La carte sera désactivée si votre forfait de 300Mo est dépassé, pour la réactiver contacter votre
              commercial.</li>
          </ul>
        </div>
      </div>
    </div>

    
    <div class="justify-content">
      <ul>
        <h3>Ce service répond aux besoins de vos clients :</h3>
       <li><strong>Backup</strong> (liaison secondaire en secours d’une liaison principale cuivre ou optique) d’une centrale d’alarme.      </li>
       <li>Raccordement de <strong>sites isolés</strong> (couverture des “ zones blanches”) d’une centrale d’alarme.</li>
      </ul>
    </div>
    <div class="btn-container"><a class="btn mat-button" href="https://www.actn.fr/actn/catalogue/T%C3%A9l%C3%A9com/Abonnement%20internet/Cartes%20SIM%20alarmes">&nbsp;Voir les références disponibles&nbsp;</a></div>

    
  </div>
</div>
  <br>
  <br>
  <br>
  <br>


  </div>