//1650px: 1650px;
//1300px: 1300px;
//767.98px: 767.98px;

$font-family: "Roboto", sans-serif;

$top-nav-small-breakpoint: 950px;
$sub-nav-small-breakpoint: 767.98px;

/*$window-padding-large-screen: 13vw;
$window-padding-screen: 12vw;
$window-padding-tablet: 7vw;
$window-padding-mobile: 5vw;*/
$window-padding-large-screen: 5vw;
$window-padding-screen: 2vw;
$window-padding-tablet: .7vw;
$window-padding-mobile: .5vw;

//$accent: #148cb4;
$accent: rgb(173, 0, 29);

$font-scale: 0.115;

@function drop-down-ressource-width($padding, $elements) {
    @return calc((100vw - #{$padding} * 2) / #{$elements});
}

@function drop-down-ressource-left($padding, $elements, $position) {
    @return calc(#{$padding} + ((100vw - #{$padding} * 2) / #{$elements}) * #{$position - 1} - 5px);
}
