@if(squeletton){

  <ngx-skeleton-loader 
appearance="line" 
[theme]="{
'height': '100px', 
'width': '100%', 
'margin-bottom': '24px',
'margin-top': '24px',
'border-radius': '8px'
}"
></ngx-skeleton-loader>
   <!-- 2) Grille 30% / 70% -->
   <div class="skeleton-content">
    <!-- 2a) Colonne filtres (30%) -->
    <div class="skeleton-filters-full">
      <ngx-skeleton-loader
        appearance="line"
        [theme]="{
          width: '100%',
          height: '100%',
          'border-radius': '8px'
        }"
      ></ngx-skeleton-loader>
    </div>

  <!-- 2b) Colonne produits (70%) – plein largeur, vertical -->
  <div class="skeleton-produits-vertical">
    <ngx-skeleton-loader
      *ngFor="let i of [1,2,3]"
      appearance="line"
      [theme]="{
        height: '200px',
        width: '100%',
        'margin-bottom': '16px',
        'border-radius': '8px'
      }"
    ></ngx-skeleton-loader>
  </div>
  </div>



  }@else{


@if (codeMarqueList.length !== 0) {
  <app-banniere [emplacement]="'top'" [marques]="codeMarqueList"></app-banniere>
}

<div class="maincontent"> 
  <div>
    @if (filtres[0].label == 'Marque') {
      <div class="options raised-1">
        <div class="action-row ouemongarsonvateretouver">
          <button
            id="marquesToggle"
            class="menu__item text-button font"
            (click)="onMarquesTogglePressed($event)"
            (tap)="onMarquesTogglePressed($event)"
            [ngClass]="{ active: showMarques }"
            appKeyboardFocus
          >
            MARQUES
            <i class="icon-caret-down" [ngClass]="{ focused: showMarques }"></i>
          </button>
          <i
            class="CANESELAVEPAS"
            title="vider le filtre"
            (click)="resetFilterMarque()"
          >
            <mat-icon>clear</mat-icon>
          </i>
        </div>
        <div id="marques"
             [@expandVertical]="showMarques ? 'open' : 'closed'"
             >
          @for (option of filtres[0].options.slice(0, 6); track filtres[0].options; let i = $index) {
              <div
                class="marque-options"
                [ngClass]="{ selected: filtresSelectors.value[0].includes(option)}"
                (click)="filtreMarqueToggle(option)"
              >
                <img
                  [alt]="option"
                  class="marque-img"
                   loading="lazy"
                  [src]="environment.logoMarquesCouleurs200x80 + option + '.gif'"
                />
              </div>
          }
          @if (filtres[0].options.length > 6) {
            @for(option of filtres[0].options.slice(6);track option ;let i = $index){
              <div
                [@expandMarques]="showAllMarques ? 'open' : 'closed'"
                class="marque-options-test"
                [ngClass]="{ selected: filtresSelectors.value[0].includes(option)}"
                (click)="filtreMarqueToggle(option)"
              >
                <img
                  [alt]="option"
                   loading="lazy"
                  [src]="environment.logoMarquesCouleurs200x80 + option + '.gif'"
                />
              </div>
            }
          }
        </div>
        <mat-divider></mat-divider>
        <div class="btn-marques">
          <button mat-raised-button *ngIf="filtres[0].options.length > 6" (click)="toggleShowAllMarques()" class="BTNAHAHAHHAHHADHDFAZTHJEGBFHJKEHGJHAEKGEH">
            {{ showAllMarques ? 'Voir moins' : 'Voir plus' }}
          </button>
        </div>
      </div>
    
    @if (filtres$ | async; as filtres) {
      <div class="options raised-1">
        <div class="action-row">
          @if (filtres.length) {
            <button
              id="filtresToggle"
              class="menu__item text-button font"
              (click)="onFiltresTogglePressed($event)"
              (tap)="onFiltresTogglePressed($event)"
              [ngClass]="{ active: showFiltres }"
              appKeyboardFocus
            >
              FILTRES
              <i class="icon-caret-down" [ngClass]="{ focused: showFiltres }"></i>
            </button>
          }


          <i
            title="Reinitialiser les filtres"
            class="text-button reset-filter main-reset-filter"
            [ngClass]="{ active: showFiltres }"
            (click)="resetFilters()"
          >
            <mat-icon>close</mat-icon>
          </i>
        </div>

        @if (filtres$ | async; as filtres) {
          @if (filtres.length) {
            <form
              id="filtres"
              [@expandVertical]="showFiltres ? 'open' : 'closed'"
              [formGroup]="filtresForm"
              [ngClass]="{ show: showFiltres }"
            >
              <ng-container formArrayName="filtresSelectors">
                <!-- FILTRES -->
                @for (filtre of filtres; track filtre.label; let i = $index) {
                  @if (filtre.type !== 'hidden') {
                    <div class="filtre filtre-{{ filtres[i].label }}">
                      <mat-form-field appearance="fill" class="select-filter">
                        <mat-label>{{ filtres[i].label }}</mat-label>
                        <mat-select
                          placeholder="{{ filtres[i].label }}"
                          [formControlName]="i"
                          multiple
                          disableOptionCentering
                          panelClass="select-panel"
                        >
                          @for (option of filtres[i].options; track option; let j = $index) {
                            <mat-option
                              [value]="option"
                              [disabled]="nbrResultatsParFiltre[i][j] === 0"
                            >{{ option }} ({{ nbrResultatsParFiltre[i][j] }})
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      @if (filtresSelectors.value[i].length) {
                        <i
                          title="vider le filtre"
                          class="reset-filter"
                          (click)="resetFilters(i)"
                        >
                          <mat-icon>clear</mat-icon>
                        </i>
                      }
                    </div>
                  }
                }
                <br style="clear: both"/>
                <!-- CATEGORIES -->
                @if (filtresSelectors.controls.length >= 2) {
                  <app-chips-list
                    [chips]="chipsFamille"
                    title="Familles de produits"
                    [selected]="
            filtresSelectors.controls[filtresSelectors.controls.length - 2]
              .value
          "
                    (selectedValues)="
            filtresSelectors.controls[
              filtresSelectors.controls.length - 2
            ].setValue($event)
          "
                  >
                  </app-chips-list>
                }
                <app-chips-list
                  [chips]="chipsSSFamille"
                  title="Sous-familles de produits"
                  [selected]="
            filtresSelectors.controls[filtresSelectors.controls.length - 1]
              .value
          "
                  (selectedValues)="
            filtresSelectors.controls[
              filtresSelectors.controls.length - 1
            ].setValue($event)
          "
                >
                </app-chips-list>

              </ng-container>
            </form>
          }
        }

            </div>
    } 
    
  }
  </div>
  @if (processedProduits$ | async; as processedProduits) {
    <div>
      <div class="sortContainer">

        @if (nbrResultats$ | async; as n) {
          <div id="nbr-resultats" [appAddClassOnChange]="'flash'" [listenTo]="n">
            @if (n > 1) {
              {{ n }} Résultats
            } @else {
              {{ n }} Résultat
            }
          </div>
       
        <div class="rightBox">
          <div class="btnContainer">
            <app-share
              title="Partager"
              [textToClipboard]="linkOfSelection()"
              id="shareSelectionButton"
            ></app-share>

            <button
              id="listFormatButton"
              class="format-button text-button"
              [ngClass]="{ active: format === 'list', disabled: error }"
              appKeyboardFocus
              (click)="listFormat()"
            >
              <fa-icon [icon]="faThList"></fa-icon>
            </button>
            <button
              id="gridFormatButton"
              class="text-button"
              [ngClass]="{ active: format === 'grid', disabled: error }"
              (click)="gridFormat()"
              appKeyboardFocus
            >
              <!--class=format-button-->
              <fa-icon [icon]="faThLarge"></fa-icon>
            </button>
          </div>
          <form id="sortForm">
            <mat-form-field id="sortingSelector" appearance="outline">
              <mat-select [formControl]="optionDeTriSelector">
                <!-- <mat-option [value]="'default'">
              -- Défaut --
            </mat-option> -->
                <mat-option [value]="'pertinence'"> Pertinence</mat-option>
                <mat-option [value]="'az'"> Référence A-Z</mat-option>
                <mat-option [value]="'za'"> Référence Z-A</mat-option>
                <mat-option [value]="'prixAsc'"> Prix Croissant</mat-option>
                <mat-option [value]="'prixDesc'"> Prix Décroissant</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      }
      </div>
      <app-produits
        [produits]="processedProduits"
        [format]="format"
        [toDisplay]="productPerPage"
        [listMarque]="codeMarqueList"
      ></app-produits>
     
    </div>
  }
  @if (comparatorService.produits.length) {
    <button
      mat-raised-button
      id="comparer"
      routerLink="/comparateur"
      routerLinkActive="active"
      color="accent"
    >
      Comparer ({{ comparatorService.produits.length }})
    </button>
  }
</div>

@if (codeMarqueList.length !== 0) {
  <app-banniere [emplacement]="'bottom'" [marques]="codeMarqueList"></app-banniere>
}


  }