.object-display {
	min-width: 100%;
	min-height: 900px;
	overflow:hidden;
}
.center{
	margin: 0 auto;
  	width: auto;
	margin-bottom: 10px;
}
p{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;	
}
