<section class="mainCarousel"
  (mouseenter)="isHovering = true"
  (mouseleave)="isHovering = false">

  <!-- SLIDER -->
  <div class="sliderScreen">
    <div class="slider">
      <!-- NGFOR SLIDE -->
      @for (slide of slides; track $index; let i = $index) {
        <span
          class="carouselSlide"
          (click)="openLink(i)"
          id="carouselSlide{{i+1}}">
          <!-- <img src="{{ slide }}"> -->
        </span>
      }
    </div>
  </div>

  <div class="carouselMarblesContainer">
    <!-- ARROW UP-->
    <div
      class="carouselArrows arrow-up"
			[ngClass]="{
			displayArrow: isHovering,
			hideArrow: !isHovering }"
      (click)="slideUp()"
      >
    </div>
    <!-- MARBLES -->
    <div class="carouselMarbles">
      @for (slide of slides; track $index; let i = $index) {
        <div
          class="carouselMarble"
          [ngClass]="{ colorPrimary: (step == (i+1) && isHovering), displayArrow: isHovering, hideArrow: !isHovering }">
          <fa-icon class="carouselMarbleIcon" (click)="jumpToStep(i)" [icon]="faCircle"></fa-icon>
        </div>
      }
    </div>
    <!-- ARROW DOWN -->
    <div
      class="carouselArrows arrow-down"
			[ngClass]="{
			displayArrow: isHovering,
			hideArrow: !isHovering }"
      (click)="slideDown()">
    </div>
  </div>

</section>
