<!-- Contact  -->
<div class="ml15">
  <app-title-w-line
    [title]="'Vos contacts OnlyWAN'"
    [style]="test"
    [icon]="'phone'"
  ></app-title-w-line>
</div>
<div class="iFrameDiv paddIframe">
  <!--  <iframe id="contact" src="http://192.168.230.221/backend/onlywan/contact.html" style="border: none"
      width="100%"></iframe>   -->

  <!-- <div [innerHTML]="contactsHTML"></div> -->
  <br />

  <h2 class="text-center">CONTACTEZ-NOUS</h2>
  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing </p> -->
  <div class="grid_box">
    <div class="d_flex">
      <mat-card class="example-card">
        <article>
         <!--  <mat-icon>home</mat-icon> -->
          <mat-card-header>
            <mat-card-title>Avant-Vente / Service Commercial </mat-card-title>
            <mat-card-subtitle class="NWAR"
              >Jean-Christophe PENA</mat-card-subtitle
            >
            <br>
          </mat-card-header>
          <mat-card-content>
            <br />
            <!-- <mat-icon>email</mat-icon> --> E-mail : <a href="mailto:jcpena@actn.fr">jcpena&#64;actn.fr</a>
            <br />
            <!-- <mat-icon>phone</mat-icon> -->  Téléphone : <a href="tel:0603253437">06 03 25 34 37</a>
          </mat-card-content>
        </article>
      </mat-card>
  

      <mat-card class="example-card">
        <article>
        <!--   <mat-icon>home</mat-icon> -->
          <mat-card-header>
            <mat-card-title>Service Production</mat-card-title>
            <mat-card-subtitle class="NWAR">Benoit TOREL</mat-card-subtitle>
          </mat-card-header>
          <br>
          <mat-card-content>
            <!-- <mat-icon>email</mat-icon>  --> E-mail : <a href="mailto:btorel@actn.fr">btorel&#64;actn.fr</a>
          </mat-card-content>
        </article>
      </mat-card>
      <mat-card class="example-card">
        <article>
         <!--  <mat-icon>home</mat-icon> -->
          <mat-card-header>
            <mat-card-title>Support Technique</mat-card-title>
            <mat-card-subtitle class="NWAR">Carla TRAININI</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content>
            <br />
            <!-- <mat-icon>email</mat-icon> -->  E-mail : <a href="mailto:ctrainini@actn.fr"> ctrainini&#64;actn.fr</a>
            <br />
            <!-- <mat-icon>phone</mat-icon> --> Téléphone : <a href="tel:0892700131">0 892 700 131</a>
          </mat-card-content>
        </article>
      </mat-card>
    </div>
    <br />
    <!-- <div class="d_flex"> -->
  </div>

  <!-- </div> -->

  <br />
</div>
