<!-- STATUT -->
<!-- <ng-template #statut>
  <div *ngIf="produit.codePromo != ''" class="info-statut">
    @if(produit.codePromo == 'R'){
    <div title="{{produit.libPromo}}" class="status{{ produit.codePromo }}">{{ produit.libPromo }}</div>
    }@else{
    <div title="{{produit.libPromo}}" class="status{{ produit.codePromo }}">{{ produit.libPromo }}
      {{ produit.prixdatepromo != '' ? ' jusqu\'au ' + produit.prixdatepromo : '' }}
    </div>
    }
  </div>


</ng-template> -->


<ng-template #statut>
  <div *ngIf="produit.codePromo != ''" class="info-statut2">
    @if(produit.codePromo == 'R'){
    <div title="{{produit.libPromo}}" class="status{{ produit.codePromo }}">{{ produit.libPromo }}</div>
    }@else{
    <div title="{{produit.libPromo}}" class="status{{ produit.codePromo }}">{{ produit.libPromo }}
      {{ produit.prixdatepromo != '' ? ' jusqu\'au ' + produit.prixdatepromo : '' }}
    </div>
    }
  </div>

</ng-template>

<!-- IMAGE -->
<ng-template #image>
  <div class="cotainerImg">
    <img class="image-produit" [src]="environment.vignettesUrl + urlImage() + '.webp'" 
      [default]="produitService.errorImg(produit)" [alt]="produit.designation" loading="lazy" />
  </div>
</ng-template>

<!-- DETAILS -->
<ng-template #refActn>
  <h3 class="ref-actn"> <span> {{ produit.reference }} </span><img [default]="''" loading="lazy"
      [src]="environment.logoMarquesUrl70x30center + produit.marque + '.gif'" [alt]="produit.marque" /></h3>
  <span *ngIf="!simple" class="refconstructeur size-smaller">Réf. constructeur : {{ produit.reffournisseur }}</span>
</ng-template>
<ng-template #designation>
  <p class="designation weight-bolder">{{ produit.designation }} </p>
  <div *ngIf="!simple && produit.division" style="color: orange;">{{ produit.division }} </div>
</ng-template>
<!-- <ng-template #marque>
  <span class="marque-produit" [ngClass]="{simple: format === 'grid' && simple}">

    <app-comparateur-button *ngIf="ficheProduit" [produitReference]="produit.reference"
      (click)="this.handleLinkClick($event)"></app-comparateur-button>
      <app-favoris-button *ngIf="ficheProduit" class="removeProductFromComparateurIcon" [produitReference]="produit.reference"
      (click)="this.handleLinkClick($event)"
      ></app-favoris-button>
  </span>
</ng-template> -->

<!-- PRIX -->
<ng-template #prix>
  <div class="prix-détails">
    <!-- PRIX PUBLIC -->
    <div *ngIf="!simple || format === 'list'">
      <div class="libelle">prix public</div>
      <div *ngIf="produit.prixPublic; else NC1" class="montant">
        <div>{{ produit.prixPublic | currency:'EUR':'symbol':'1.2-2':'fr' }}<span class="size-smaller">&nbsp;HT</span>
        </div>
      </div>
      <ng-template #NC1>
        <div class="montant">NC</div>
      </ng-template>
    </div>
    <!-- D3E -->
    <div *ngIf="produit.prixD3E && (!simple || format === 'list')">
      <div class="libelle">écopart.</div>
      <div class="montant">
        <div>{{ produit.prixD3E | currency:'EUR':'symbol':'1.3-3':'fr' }}<span class="size-smaller">&nbsp;HT</span>
        </div>
      </div>
    </div>
    <!-- VOTRE PRIX -->
    <div class="votre-prix" *ngIf="!produit.hasPriceByQte; else prixParQte">
      <div>votre prix</div>
      <div *ngIf="produit.prix; else NC2" [ngClass]="{ 'montant' : !cotationWarn }">
        <span  [class.barre]="produit.cotationValide =='O' && produit.prix > produit.prixPlusBas && produit.prixPlusBas !== 0">{{ produit.prix | currency:'EUR':'symbol':'1.2-2':'fr' }}</span><span class="size-smaller nobarre">&nbsp;HT</span>
      </div>

      <ng-template #NC2>
        <div class="montant">NC</div>
      </ng-template>
    </div>
    <div *ngIf="produit.cotationValide =='O'">
      <a *ngIf="produit.prix > produit.prixPlusBas && produit.prixPlusBas !== 0" [routerLink]="lienProduit" class="prixcot" >
        Prix cotation
      </a>
        <div *ngIf="produit.prix > produit.prixPlusBas && produit.prixPlusBas !== 0; else prixcot" style="font-weight: bold; color:#9b0037 ">{{produit.prixPlusBas | currency:'EUR':'symbol':'1.2-2':'fr' }} €</div>

        <ng-template #prixcot>
          <div [routerLink]="lienProduit" style="font-weight: bold; color:#9b0037 ">Prix promotion</div>
        </ng-template>
    </div>

    <!-- PRIX PAR QUANTITE -->
    <ng-template #prixParQte>
      <ng-container *ngFor="let qtp of produit.qtePrice; let i = index;">
        <div
          [ngClass]="((qtePriceAppliedIndex == i) || (i == 0 && !cartService.cart.items[produit.reference])) ? 'votre-prix' : ''">
          <div class="libelle">prix par {{ qtp.qte }}</div>
          <div class="montant">
            <div>{{ qtp.price | currency:'EUR':'symbol':'1.2-2':'fr' }}<span class="size-smaller">&nbsp;HT</span></div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </div>
  <!-- PRIX COTATION -->
  <div *ngIf="cotationWarn && hasCotation" class="votre-prix" style="width: 100%;">
    <div style="display: flex;justify-content: space-between;">


    <div>prix cotation</div>
    <div *ngIf="catationLa.prixvente; else NC2" class="montant">
      <div>{{ catationLa.prixvente | currency:'EUR':'symbol':'1.2-2':'fr' }}<span class="size-smaller">&nbsp;HT</span>
      </div>
    </div>
<!-- voir si sa fait pt le style hasCotation -->
    <ng-template #NC2>
      <div class="montant">NC</div>
    </ng-template>
  </div>
    <a *ngIf="catationLa && hasCotation" routerLink="/espace-client/cotation" style="text-align: center;" class="textCotation">Voir vos cotation(s)</a>
  </div>
</ng-template>

<!-- ABONNEMENT -->
<ng-template #abonnement>
  <div *ngIf="hasAbonnement">
    <div class="state bold">Abonnement</div>
    <div class="state-value bold">{{ dureeAbonnement }}</div>
  </div>
</ng-template>

<!-- DISPO -->
<ng-template #dispo>
  <div class="dispo" *ngIf="produit.gabarit != 'V'; else produitVirtuel">
    <div [ngClass]="{ active: produit.qteStock1 > 0, available: produit.qteStock1 > 0 }">
      <div class="state">Disponible</div>
      <div class="state-value">{{ produit.qteStock1  }}</div>
    </div>
    <div [ngClass]="{ active: produit.qteStock2 > 0 }">
      <div class="state">Stock externe</div>
      <div class="state-value">{{ produit.qteStock2 }}</div>
    </div>
    <div [ngClass]="{ active: produit.qteEnReappro > 0 }">
      <div class="state">En réappro.
      @if (produit.qteEnReappro > 0) {
        <br/>
        <!-- @if (produit.dateConfReapproStatut !='Date prévisonnelle') {
          <p class="size-small ">{{produit.dateConfReapproStatut}}:</p>
        } -->
        @if(produit.qteEnReappro > 0 && (produit.dateConfReapproStatut === 'Date prévisonnelle' || produit.dateConfReapproStatut === 'Date confirmée')) {

          <p  class="size-small " >  <app-horizon-delais [produit]="[produit.reference,produit.marque]"></app-horizon-delais></p> 
        }
      }
    </div>
      
      <!-- <div class="state-value">
        {{ produit.qteEnReappro | number: '1.0-0' }}
        <ng-container *ngIf="produit.qteEnReappro">
          <p class="size-small">{{ produit.dateConfReapproStatut }}:</p>
          <ng-container *ngIf="produit.dateConfReappro; else NC">
            <p class="size-small">{{ produit.dateConfReappro }}</p>
          </ng-container>
          <ng-template #NC>N.C.</ng-template>
        </ng-container>
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="abonnement"></ng-template> -->
    <div class="state-value">
      {{ produit.qteEnReappro  }}
      <ng-container *ngIf="produit.qteEnReappro > 0">
        <br/>
        <ng-container *ngIf="produit.dateConfReappro != '' ; else NC">
          <p *ngIf="produit.dateConfReappro ==='nc'" class="size-small">{{ produit.dateConfReappro }} </p>
        <!--  <app-horizon-delais [produit]="[produit.reference,produit.marque]"></app-horizon-delais>
           
                -->
        </ng-container>
        <ng-template #NC>
          N.C.
        </ng-template>
      </ng-container>
    </div>
   
  </div>
  <ng-template [ngTemplateOutlet]="abonnement"></ng-template>
  
  </div>
  
  <ng-template #produitVirtuel>
    <div class="dispo-virtuel">
      Produit dématérialisé
      <ng-template [ngTemplateOutlet]="abonnement"></ng-template>
    <span class="garantie" >
        Durée {{ produit.garantie }} mois
      </span>
    </div>
    
  </ng-template>
</ng-template>

<!-- PANIER -->
<ng-template #panier>
  <div style="padding: 0 1.1em;">
    <app-add-to-cart-form class="add-to-cart" [cotation]="catationLa" [produit]="produit"
      [isDisabled]="produit.prix === 0" direction="column" (qtyInCart)="getQtePriceAppliedIndex($event)">
    </app-add-to-cart-form>
  </div>
</ng-template>

<!-- CONNEXION -->
<ng-template #connectionRequiredTemplate>
  <div class="connection-required-message">
    Connectez-vous pour voir le <b>prix</b>, les <b>disponibilités</b>, ou pour <b>constituer un panier</b>
  </div>
  <button class="swaped-text-button connection-required-button raised-button"
    (click)="componentsInteractionService.sideNavigationLine.fireOpenSideNav('espaceClient')" appKeyboardFocus>
    Je me connecte
  </button>
</ng-template>


<ng-container [ngSwitch]="getMode()">
<!-- MODE NORMAL -->
<ng-container *ngSwitchCase="'normal'"> <!-- *ngIf="!simple; else modeSimple" -->

  <div class="block">
    <ng-container *ngIf="displayRemoveProductFromComparateurButton">
      <app-comparateur-button class="removeProductFromComparateurIcon" [produitReference]="produit.reference"
        [displayAsXIcon]="true" (click)="handleComparateurClick($event)"></app-comparateur-button>
    </ng-container>
    <ng-container *ngIf="displayRemoveProductFromFavorisButton">
      <app-favoris-button class="removeProductFromComparateurIcon" [produitReference]="produit.reference"
        [displayAsXIcon]="true"></app-favoris-button>
    </ng-container>
    <ng-container *ngIf="!produit.marque; else noError">
      <div class="erreur">{{ produit.designation }}</div>
      <app-categorie></app-categorie>
    </ng-container>
    <ng-template #noError>
      <div class="produit raised-1"
        [ngClass]="{ vignette: format === 'grid', list: format === 'list', config: produit.prodconfig === 'O' }">
        <a [routerLink]="lienProduit">
          <ng-template [ngTemplateOutlet]="image"></ng-template>
        </a>
        <div id="details" class="id">
          <div class="right">
            <app-favoris-button [produitReference]="produit.reference"></app-favoris-button>
            <app-comparateur-button [produitReference]="produit.reference" (click)="handleComparateurClick($event)">
            </app-comparateur-button>
            <a *ngIf="produit.pdf" target="_blank" [href]="environment.produitPdfUrl + produit.pdf + '.pdf'">
              <app-tooltip [type]="'pdf'" [hideDelay]="0" [showDelay]="0" [text]="'Voir le pdf'"></app-tooltip>
            </a>
            <!-- <a *ngIf="hasCotation" [routerLink]="produitService.lienProduit(produit)" fragment="cotation">
              <app-tooltip [hideDelay]="0" [showDelay]="0" text="Vous avez une cotation sur ce produit"></app-tooltip>
            </a> -->
            <a *ngIf="produit.prodattexist == 'O' || produit.gabarit == 'H'" [routerLink]="lienProduit">
              <app-tooltip [type]="'alert'" [hideDelay]="0" [showDelay]="0" [text]="phraseAttention"
                (mouseenter)="loadAttention()"></app-tooltip>
            </a>
          </div>
          <a style="width: 100%;" [routerLink]="lienProduit">
            <ng-template [ngTemplateOutlet]="refActn"></ng-template>
          </a>
          <a [routerLink]="lienProduit">
            <ng-template [ngTemplateOutlet]="designation"></ng-template>
          </a>
          <!--<ng-template [ngTemplateOutlet]="marque"></ng-template>-->
          <ng-template [ngTemplateOutlet]="statut"></ng-template>
        </div>
        <ng-container *ngIf="authService.currentUser; else connectionRequiredTemplate">
          <ng-template [ngTemplateOutlet]="prix"></ng-template>
          <ng-template [ngTemplateOutlet]="dispo"></ng-template>
          <ng-template [ngTemplateOutlet]="panier"></ng-template>
        </ng-container>
      </div>
    </ng-template>
  </div>

</ng-container>

<!-- MODE SIMPLE -->
<ng-container *ngSwitchCase="'simple'"> <!-- #modeSimple -->
  <ng-container *ngIf="format === 'grid'; else simpleList">
    <a [routerLink]="lienProduit" routerLinkActive="router-link-active" class="id" (click)="handleLinkClick($event)">
      <div class="produit raised-1 vignette simple">

        <ng-template [ngTemplateOutlet]="image"></ng-template>
        <div class="details">
          <ng-template [ngTemplateOutlet]="refActn"></ng-template>
          <ng-template [ngTemplateOutlet]="designation"></ng-template>
          <!--<ng-template [ngTemplateOutlet]="marque"></ng-template>-->
        </div>
        @if (produit.reffournisseur) {

        <div class="ref-constructeur">Réf. constructeur : {{ produit.reffournisseur }}</div>
        }
        <div *ngIf="produit.division" style="color: orange;">{{ produit.division }}</div>
        <div class="stock" *ngIf="produit.dispo && authService.currentUser">{{ produit.dispo }} <span
            *ngIf="produit.qteStock1">: {{ produit.qteStock1 }}</span></div>
        <div class="stock" *ngIf="!produit.dispo && authService.currentUser">Produit indisponible</div>
        <ng-container *ngIf="authService.currentUser">
          <ng-template *ngIf="produit.prix > 0" [ngTemplateOutlet]="prix"></ng-template>
        </ng-container>
       <!--  <div class="overlay"></div> -->
      </div>
    </a>
  </ng-container>
  <ng-template #simpleList>
    <ng-template [ngTemplateOutlet]="statut"></ng-template>
    <div class="produit raised-1 list simple">
      <div class="id" style="width: 100%;">
        <a [routerLink]="lienProduit">
          <ng-template [ngTemplateOutlet]="refActn"></ng-template>
        </a>
        <a [routerLink]="lienProduit">
          <ng-template [ngTemplateOutlet]="designation"></ng-template>
        </a>
        <!--<a [routerLink]="lienProduit">
          <ng-template [ngTemplateOutlet]="marque"></ng-template>
        </a>-->
      </div>
      <ng-container *ngIf="authService.currentUser; else connectionRequiredTemplate">
        <ng-template [ngTemplateOutlet]="prix"></ng-template>
        <ng-template [ngTemplateOutlet]="dispo"></ng-template>
        <ng-template [ngTemplateOutlet]="panier"></ng-template>
      </ng-container>
    </div>
  </ng-template>
</ng-container>

<!--Mode licences ce template est utilisé uniquement pour la validation des licences-->

<ng-container *ngSwitchCase="'licences'" #modeLicences>
  
  <div class="block">
    <ng-container *ngIf="displayRemoveProductFromComparateurButton">
      <app-comparateur-button class="removeProductFromComparateurIcon" [produitReference]="produit.reference"
        [displayAsXIcon]="true" (click)="handleComparateurClick($event)"></app-comparateur-button>
    </ng-container>
    <ng-container *ngIf="displayRemoveProductFromFavorisButton">
      <app-favoris-button class="removeProductFromComparateurIcon" [produitReference]="produit.reference"
        [displayAsXIcon]="true"></app-favoris-button>
    </ng-container>
    <ng-container *ngIf="!produit.marque; else noErrorLicences">
      <div class="erreur">{{ produit.designation }}</div>
      <app-categorie></app-categorie>
    </ng-container>
    <ng-template #noErrorLicences>
      <div class="produit raised-1"
        [ngClass]="{ vignette: format === 'grid', list: format === 'list', config: produit.prodconfig === 'O' }">
        <a [routerLink]="lienProduit">
          <ng-template [ngTemplateOutlet]="image"></ng-template>
        </a>
        <div id="details" class="id">
          <div class="right">
            <!-- <app-favoris-button [produitReference]="produit.reference"></app-favoris-button>
            <app-comparateur-button [produitReference]="produit.reference" (click)="handleComparateurClick($event)">
            </app-comparateur-button> -->


            <a *ngIf="produit.pdf" target="_blank" [href]="environment.produitPdfUrl + lastPdfOfPdfs?.url + '.pdf'">
              <app-tooltip [type]="'pdf'" [hideDelay]="0" [showDelay]="0" [text]="lastPdfOfPdfs?.label"></app-tooltip>
            </a>


            
             <a *ngIf="hasCotation" [routerLink]="produitService.lienProduit(produit)" fragment="cotation">
              <app-tooltip [hideDelay]="0" [showDelay]="0" text="Vous avez une cotation sur ce produit"></app-tooltip>
            </a> 
           
            <a *ngIf="produit.prodattexist == 'O' || produit.gabarit == 'H'" [routerLink]="lienProduit">
              <app-tooltip [type]="'alert'" [hideDelay]="0" [showDelay]="0" [text]="phraseAttention"
                (mouseenter)="loadAttention()"></app-tooltip>
            </a>
          </div>
          <a style="width: 100%;" [routerLink]="lienProduit">
            <ng-template [ngTemplateOutlet]="refActn"></ng-template>
          </a>
          <a [routerLink]="lienProduit">
            <ng-template [ngTemplateOutlet]="designation"></ng-template>
          </a>
          <!-- <ng-template [ngTemplateOutlet]="marque"></ng-template> -->
          <ng-template [ngTemplateOutlet]="statut"></ng-template>
        </div>
        <ng-container *ngIf="authService.currentUser; else connectionRequiredTemplate">
          <ng-template [ngTemplateOutlet]="prix"></ng-template>
          <ng-template [ngTemplateOutlet]="dispo"></ng-template>

          <div *ngIf="hasCotation">
            <a *ngIf="produit.prix > produit.prixPlusBas && produit.prixPlusBas !== 0" [routerLink]="lienProduit" class="prixcot" >
              Prix le plus bas
            </a>
              <div *ngIf="produit.prix > produit.prixPlusBas && produit.prixPlusBas !== 0; else prixcot" style="font-weight: bold; color:#9b0037 ">{{produit.prixPlusBas}} €</div>
      
              <ng-template #prixcot>
                <div [routerLink]="lienProduit" style="font-weight: bold; color:#9b0037 ">Voir vos cotations</div>
              </ng-template>
          </div>

         
         <!--  
          <ng-template [ngTemplateOutlet]="panier"></ng-template> -->
        </ng-container>
      </div>
    </ng-template>
  </div>
</ng-container>


</ng-container>