@import "variables.scss";

.search-bar .mat-form-field-infix {
	width: 100%;
}

.select-panel.mat-select-panel {
	max-height: 311px;
}

.mat-autocomplete-panel .mat-option {
	line-height: 22px;
	height: fit-content;
	padding: 10px 16px;
}

.cdk-overlay-container {
	// z-index: 19;
}

.mat-form-field {
	font-size: 1rem * (1 - 1 * $font-scale);
}

.mat-form-field-label {
	/*   font-size: 1rem * (1 - 1 * $font-scale) !important;
  &:not(.mat-empty) {
    transform: translateY(-1.4em) scale(1 - $font-scale) perspective(100px) translateZ(0.001px) !important;
  } */
}

.mat-form-field-flex {
	align-items: center !important;
}

.mat-form-field-infix {
	//padding: 1em 0 !important;
	width: auto !important;
}

.mat-checkbox-layout {
	white-space: inherit !important;
}

.mat-checkbox-inner-container {
	margin-top: 3px !important;
}

.mat-form-field-wrapper {
	padding-bottom: 0;
}

.mat-tooltip {
	font-size: 13px;
}

.mat-form-field-required-marker {
	color: red;
}

.mat-mini-fab {
	width: 30px !important;
	height: 30px !important;
	line-height: 0px !important;
}

.mat-paginator-range-label {
	min-width: 120px !important;
}

.mat-simple-snackbar span {
	white-space: pre-wrap;
}

.mat-snack-bar-container {
	color: white !important;
	background-color: var(--color-primary-darker) !important;
	max-width: 100vw !important;
}

.mat-simple-snackbar-action button {
	margin-left: 20px;
	background-color: var(--color-secondary) !important;
	color: white !important;
}

textarea.mat-input-element {
	min-height: 100px !important;
}

.mat-input-element {
	margin: 0 !important;
	padding: 0 !important;
}

.mat-icon-button {
	flex-shrink: 1 !important;
}

.mat-tab-label.mat-tab-label-active {
	opacity: 1 !important;
}

.mat-tab-label {
	background-color: #6583a1;
	color: white;
	opacity: 1 !important;
	font-size: 1.1rem;
}

.mat-tab-label-active {
	background-color: var(--color-primary);
}

.mat-paginator-range-label {
	margin: 0 !important;
}

.mat-form-field.readonly {
	input {
		color: rgba(0, 0, 0, 0.54);
	}
	.mat-form-field-underline {
		height: 0px !important;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.54);
		background-color: transparent !important;
	}
}
