@import "../sonicwall.scss";

#container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep .chips {
        cursor: pointer;
        padding: 4px 8px;
        margin: 0 10px;
        border: 1px solid $color-2;
        color: $color-2;
        border-radius: 360px;
        text-decoration: none;

        &--selected,
        &--interactable:hover {
            background-color: $color-2;
            color: white;
        }

        &--whited {
            background-color: white;
        }

        &--blue, &--special {
            background-color: $color-1;
            color: white;
            border-color: $color-1;
        }

        &--interactable {
            transition: all 50ms ease-in-out;
        }
    }
}
