<app-title-w-line [title]="'Relevé de compte'"></app-title-w-line>

<div class="content">
  <div class="filters raised-1">
    <h2>Filtres</h2>
    <div class="filter">
      <mat-form-field class="example-full-width">
        <mat-label>N° Facture</mat-label>
        <input matInput [formControl]="nFactureFiltre" (keyup)="filtrer($event.target.value, 'string', 'nfacture')">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Ref. Client</mat-label>
        <input matInput [formControl]="refClientFiltre" (keyup)="filtrer($event.target.value, 'string', 'refclient')">
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Date piece</mat-label>
        <mat-date-range-input
          [formGroup]="campaignOne"
          [rangePicker]="campaignOnePicker">
          <input matStartDate placeholder="Début" formControlName="start">
          <input matEndDate placeholder="Fin" formControlName="end"
            (dateChange)="filtrer(campaignOne.value.start + ',' + campaignOne.value.end, 'date', 'DatePiece');">
          </mat-date-range-input>
          @if (campaignOne.value.end) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="campaignOne.reset();filtrer(campaignOne.value.end, 'date', 'DatePiece');">
              <mat-icon>close</mat-icon>
            </button>
          }
          <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Date échéance</mat-label>
          <mat-date-range-input
            [formGroup]="campaignTwo"
            [rangePicker]="campaignTwoPicker">
            <input matStartDate placeholder="Début" formControlName="start" >
            <input matEndDate placeholder="Fin" formControlName="end"
              (dateChange)="filtrer(campaignTwo.value.start + ',' + campaignTwo.value.end, 'date', 'dateecheancenumero')">
            </mat-date-range-input>
            @if (campaignTwo.value.end) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="campaignTwo.reset();filtrer(campaignTwo.value.end, 'date', 'dateecheancenumero')">
                <mat-icon>close</mat-icon>
              </button>
            }
            <mat-datepicker-toggle matIconSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>

      <div id="echus">
        <app-title-w-line [title]="'Facture non réglée'" [collapsible]="true"
        (click)="toggleCollapseDivById($event, 'echus')"></app-title-w-line>
        <h3 style="margin-left: 1em">{{_financeService.getNbResultEchus() + ' résultats'}}</h3>
        <div class="collapsible" style="padding: 0 1px;"
          [@expandVertical]="collapsedIdsArray.includes('echus') ? 'closed' : 'open'"
          [ngClass]="{ hide: collapsedIdsArray.includes('echus') }">
          <table mat-table [dataSource]="_financeService.filteredAlertItems" class="mat-elevation-z8 tables-finances">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"

                ></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)" [disabled]="disableCheckbox(row)"></mat-checkbox>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="nfacture">
              <th mat-header-cell *matHeaderCellDef> N° Facture </th>
              <td mat-cell *matCellDef="let finance">
                <a
                  [href]="environment.apiUrl + '/document/generate.php?document=' + finance.nfacture + '&type=FACTURE'"
                  target="_blank"
                  >
                  {{ finance.nfacture}}
                  <fa-icon [icon]="faFilePdf"></fa-icon>
                </a>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="refclient">
              <th mat-header-cell *matHeaderCellDef> Ref. Client </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.refclient}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date piece </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.DatePiece | date:'dd/MM/yyyy' }} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="echeance">
              <th mat-header-cell *matHeaderCellDef> Échéance </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.dateecheancenumero | date:'dd/MM/yyyy' }} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="libelle">
              <th mat-header-cell *matHeaderCellDef> Libellé </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.libelle }} </td>
              <td mat-footer-cell *matFooterCellDef> <strong>Total</strong> </td>
            </ng-container>

            <ng-container matColumnDef="montant">
              <th mat-header-cell *matHeaderCellDef> Montant TTC </th>
              <td mat-cell *matCellDef="let finance">
                <div class="ouiee">
                  <span>{{ finance.debit + finance.credit | currency:'EUR':'symbol':'1.2-2' }}</span>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef style="display: flex; align-items: center">
                <strong>{{ _financeService.getTotalCostEchus() | currency:'EUR':'symbol':'1.2-2'}}</strong>
                <button mat-raised-button class="btn-moula"
                  [disabled]="selection.selected.length > 8 || selection.selected.length == 0"
                  (click)="this.settlement()"
                  [ngClass]="{disabled: selection.selected.length > 8 || selection.selected.length == 0}"
                >Régler</button>
                @if (selection.selected.length > 8) {
                  <app-tooltip [type]="'alert'"
                    [text]="'8 Factures max en selection'"
                    style="margin-left: 5px"
                  ></app-tooltip>
                }
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsEchusPourVrai"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsEchusPourVrai;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsEchusPourVrai"></tr>
          </table>
        </div>
      </div>

      <div id="avoir">
        <app-title-w-line [title]="'Avoir & acompte'" [collapsible]="true"
        (click)="toggleCollapseDivById($event, 'avoir')"></app-title-w-line>
        <h3 style="margin-left: 1em">{{_financeService.getNbResultAvoir() + ' résultats'}}</h3>
        <div class="collapsible" style="padding: 0 1px;"
          [@expandVertical]="collapsedIdsArray.includes('avoir') ? 'closed' : 'open'"
          [ngClass]="{ hide: collapsedIdsArray.includes('avoir') }">
          <table mat-table [dataSource]="_financeService.filteredAvoirItems" class="mat-elevation-z8 tables-finances">
            <ng-container matColumnDef="nfacture">
              <th mat-header-cell *matHeaderCellDef> N° Facture </th>
              <td mat-cell *matCellDef="let finance">
                <a
                  [href]="environment.apiUrl + '/document/generate.php?document=' + finance.nfacture + '&type=FACTURE'"
                  target="_blank"
                  >
                  {{ finance.nfacture}}
                  <fa-icon [icon]="faFilePdf"></fa-icon>
                </a>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="refclient">
              <th mat-header-cell *matHeaderCellDef> Ref. Client </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.refclient}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date piece </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.DatePiece | date:'dd/MM/yyyy' }} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="echeance">
              <th mat-header-cell *matHeaderCellDef> Échéance </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.dateecheancenumero | date:'dd/MM/yyyy' }} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="libelle">
              <th mat-header-cell *matHeaderCellDef> Libellé </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.libelle }} </td>
              <td mat-footer-cell *matFooterCellDef> <strong>Total</strong> </td>
            </ng-container>

            <ng-container matColumnDef="montant">
              <th mat-header-cell *matHeaderCellDef> Montant TTC </th>
              <td mat-cell *matCellDef="let finance">
                <div class="ouiee">
                  <span>{{ finance.debit + finance.credit | currency:'EUR':'symbol':'1.2-2' }}</span>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef> <strong>{{ _financeService.getTotalCostAvoir() | currency:'EUR':'symbol':'1.2-2'}}</strong></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsEchus"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsEchus;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsEchus"></tr>
          </table>
        </div>
      </div>

      <div id="nonEchus">
        <app-title-w-line [title]="'Facture non arrivée à échéance'" [collapsible]="true"
        (click)="toggleCollapseDivById($event, 'nonEchus')"></app-title-w-line>
        <h3 style="margin-left: 1em">{{_financeService.getNbResultNonEchus() + ' résultats'}}</h3>
        <div class="collapsible" style="padding: 0 1px;"
          [@expandVertical]="collapsedIdsArray.includes('nonEchus') ? 'closed' : 'open'"
          [ngClass]="{ hide: collapsedIdsArray.includes('nonEchus') }">
          <table mat-table [dataSource]="_financeService.filteredCurrentItems" class="mat-elevation-z8">

            <ng-container matColumnDef="nfacture">
              <th mat-header-cell *matHeaderCellDef> N° Facture </th>
              <td mat-cell *matCellDef="let finance">
                <a
                  [href]="environment.apiUrl + '/document/generate.php?document=' + finance.nfacture + '&type=FACTURE'"
                  target="_blank"
                  >
                  {{ finance.nfacture}}
                  <fa-icon [icon]="faFilePdf"></fa-icon>
                </a>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="refclient">
              <th mat-header-cell *matHeaderCellDef> Ref. Client </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.refclient}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date piece </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.DatePiece | date:'dd/MM/yyyy' }} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="echeance">
              <th mat-header-cell *matHeaderCellDef> Échéance </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.dateecheancenumero | date:'dd/MM/yyyy' }} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="libelle">
              <th mat-header-cell *matHeaderCellDef> Libellé </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.libelle }} </td>
              <td mat-footer-cell *matFooterCellDef> <strong>Total</strong> </td>
            </ng-container>

            <ng-container matColumnDef="montant">
              <th mat-header-cell *matHeaderCellDef> Montant TTC </th>
              <td mat-cell *matCellDef="let finance">
                <div class="ouiee">
                  <span>{{ finance.debit + finance.credit | currency:'EUR':'symbol':'1.2-2' }}</span>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef> <strong>{{ _financeService.getTotalCostNonEchus() | currency:'EUR':'symbol':'1.2-2'}}</strong></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsEchus"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsEchus;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsEchus"></tr>
          </table>
        </div>
      </div>

      <div id="historique">
        <app-title-w-line [title]="'Historique'" [collapsible]="true"
        (click)="toggleCollapseDivById($event, 'historique')"></app-title-w-line>
        <h3 style="margin-left: 1em">{{_financeService.getNbResultHisto() + ' résultats'}}</h3>
        <div class="collapsible" style="padding: 0 1px;"
          [@expandVertical]="collapsedIdsArray.includes('historique') ? 'closed' : 'open'"
          [ngClass]="{ hide: collapsedIdsArray.includes('historique') }">

          <table mat-table [dataSource]="_financeService.filteredPastItems" class="mat-elevation-z8">
            <ng-container matColumnDef="nfacture">
              <th mat-header-cell *matHeaderCellDef> N° Facture </th>
              <td mat-cell *matCellDef="let finance">
                <a
                  [href]="environment.apiUrl + '/document/generate.php?document=' + finance.nfacture + '&type=FACTURE'"
                  target="_blank"
                  >
                  {{ finance.nfacture}}
                  <fa-icon [icon]="faFilePdf"></fa-icon>
                </a>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>


            <ng-container matColumnDef="refclient">
              <th mat-header-cell *matHeaderCellDef> Ref. Client </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.refclient}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date piece </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.DatePiece | date:'dd/MM/yyyy' }} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="echeance">
              <th mat-header-cell *matHeaderCellDef> Échéance </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.dateecheancenumero | date:'dd/MM/yyyy' }} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="libelle">
              <th mat-header-cell *matHeaderCellDef> Libellé </th>
              <td mat-cell *matCellDef="let finance"> {{ finance.libelle }} </td>
              <td mat-footer-cell *matFooterCellDef> <strong>Total</strong> </td>
            </ng-container>

            <ng-container matColumnDef="montant">
              <th mat-header-cell *matHeaderCellDef> Montant TTC </th>
              <td mat-cell *matCellDef="let finance">
                <div class="ouiee">
                  <span>{{ finance.debit | currency:'EUR':'symbol':'1.2-2' }}</span>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef> <strong>{{ _financeService.getTotalCostHisto() | currency:'EUR':'symbol':'1.2-2'}}</strong></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsEchus"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsEchus;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsEchus"></tr>
          </table>
        </div>
      </div>
    </div>

    @if (settlementPopUp) {
      <div class="popup" [ngClass]="{active: settlementPopUp}">
        <div class="popup-background" (click)="settlementPopUp = false" (tap)="settlementPopUp = false"></div>
        <div class="popup-window raised-3">
          <h2>Règlement</h2>
          <p>{{ selection.selected.length > 1 ? 'Régler les factures' : 'Régler la facture'}} :
            @for (facture of selection.selected; track facture.nfacture; let last = $last) {
              {{ facture.nfacture }}{{ !last ? ',' : '' }}
            }
          </p>
          <p>Pour un total de : {{ totalPrix | currency:'EUR':'symbol':'1.2-2'}}</p>
          <div class="paye-groupe">
            <mat-radio-group [(ngModel)]="modePaiement">
              <mat-radio-button [value]="'cb'">Paiement par carte bancaire</mat-radio-button>
              <mat-radio-button [value]="'vir'">Paiement par virement immédiat</mat-radio-button>
            </mat-radio-group>
            @if (modePaiement == 'cb') {
              <div class="CB">
                <mat-form-field>
                  <mat-label>Adresse mail</mat-label>
                  <input matInput [formControl]="emailCb">
                  @if (emailCb.invalid) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
                <div class="button-action">
                  <button (click)="giveMoula()" mat-raised-button style="background-color: #001b50; color: white">Régler</button>
                  <button (click)="this.settlementPopUp = false" mat-raised-button style="background-color: #9b0037; color: white">Annuler</button>
                </div>
              </div>
            }
            @if (modePaiement == 'vir') {
              <div class="RIB">
                <h3>RIB ACTN</h3>
                <div class="total">
                  <div class="rib_txt"> IBAN</div>
                  <div class="rib_txt"> {{iban}} <mat-icon class="rib_icon" (click)="_financeService.copyText(iban)">file_copy</mat-icon>
                </div>
              </div>
              <div class="total">
                <div class="rib_txt"> BIC</div>
                <div class="rib_txt"> {{bic}} <mat-icon class="rib_icon" (click)="_financeService.copyText(bic)">file_copy</mat-icon>
              </div>
            </div>
            <div class="annule-stp">
              <button (click)="this.settlementPopUp = false" mat-raised-button class="annule-btn">Annuler</button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
