<div class="conditions-sav">
	<app-title-w-line title="Procédure de demande d'autorisation de Retour de Matériel (R.M.A)" size="small"></app-title-w-line>

	<div>
		<h3>1 / Demande de retour pour défaut de fonctionnement :</h3>

		<div>
			<div class="margin flex">
				<h3>1.1</h3>
				<p class="margin3">Certains constructeurs assurent eux-mêmes la gestion du SAV de leurs produits. Vous en trouverez la liste ci-dessous ainsi que le lien avec leur site permettant de faire directement une demande de RMA auprès de leurs services.</p>
			</div>
			<div class="margin flex">
				<a href="https://www.dlink.com/fr/fr/support/warranty-information" target="_blank"><img loading="lazy" alt="DLINK" [src]="environment.logoMarquesGrisUrl + 'DLIN' + '.gif'"></a>
				<a class="selfCenter margin2" href="https://www.dlink.com/fr/fr/support/warranty-information" target="_blank">https://www.dlink.com/fr/fr/support/warranty-information</a>
			</div>
			<div class="trait">
				<span> </span>
			</div>
			<div class="margin flex">
				<a href="https://www.nitram.fr/support/warranty.htm" target="_blank"><img loading="lazy" alt="NITRAM" [src]="environment.logoMarquesGrisUrl + 'NITR' + '.gif'"></a>
				<a class="selfCenter margin2" href="https://www.nitram.fr/support/warranty.htm" target="_blank">https://www.nitram.fr/support/warranty.htm</a>
			</div>
			<div class="trait">
				<span> </span>
			</div>
			<div class="margin flex">
				<a href="https://www.seagate.com/fr/fr/support/" target="_blank"><img alt="SEAGATE" loading="lazy" [src]="environment.logoMarquesGrisUrl + 'SEAG' + '.gif'"></a>
				<a class="selfCenter margin2" href="https://www.seagate.com/fr/fr/support/" target="_blank">https://www.seagate.com/fr/fr/support/</a>
			</div>
			<div class="trait">
				<span> </span>
			</div>
			<div class="margin flex">
				<a href="https://secure2.sophos.com/fr-fr/support/contact-support.aspx" target="_blank"><img alt="SOPHOS" loading="lazy" [src]="environment.logoMarquesGrisUrl + 'SOPH' + '.gif'"></a>
				<a class="selfCenter margin2" href="https://secure2.sophos.com/fr-fr/support/contact-support.aspx" target="_blank">https://secure2.sophos.com/fr-fr/support/contact-support.aspx</a>
			</div>
			<div class="trait">
				<span> </span>
			</div>
			<div class="margin flex">
				<a href="https://support.sonicwall.com/fr-fr/contact-support" target="_blank"><img alt="SONICWALL" loading="lazy" [src]="environment.logoMarquesGrisUrl + 'SONI' + '.gif'"></a>
				<a class="selfCenter margin2" href="https://support.sonicwall.com/fr-fr/contact-support" target="_blank">https://support.sonicwall.com/fr-fr/contact-support</a>
			</div>
			<div class="trait">
				<span> </span>
			</div>
			<div class="margin flex">
				<a href="https://support-fr.wd.com/app/utils/login_form" target="_blank"><img alt="WESTERN DIGITAL" loading="lazy"  [src]="environment.logoMarquesGrisUrl + 'WEST' + '.gif'"></a>
				<a class="selfCenter margin2" href="https://support-fr.wd.com/app/utils/login_form" target="_blank">https://support-fr.wd.com/app/utils/login_form</a>
			</div>
			<div class="trait">
				<span> </span>
			</div>
			<div class="margin flex">
				<a href="https://www.zyxel.fr/hotline.html" target="_blank"><img alt="ZYXEL" loading="lazy" [src]="environment.logoMarquesGrisUrl + 'ZYXE' + '.gif'"></a>
				<a class="selfCenter margin2" href="https://www.zyxel.fr/hotline.html" target="_blank">https://www.zyxel.fr/hotline.html</a>
			</div>
		</div>

		<br>

		<div>
			<div class="margin flex">
				<h3>1.2</h3>
				<p class="margin3 selfCenter">Pour les marques dont le SAV est assuré par ACTN, vous voudrez bien vous conformer à la procédure ci-dessous :</p>
			</div>
			<div class="margin margin4">
				<h4 class="il">1/&nbsp;</h4> <p class="il">Emettez votre demande de retour via notre site web.</p>
			</div>
			<div class="margin margin4">
				<h4 class="il">2/&nbsp;</h4> <p class="il">Faites une demande de RMA par référence, et renseignez correctement le formulaire en indiquant :
				- la référence exacte du produit
				- le n° de bon de livraison ou de facture ACTN sur lequel figurait le produit
				- le descriptif de la panne constatée ( 2000 caractères maximum )
				- le motif du retour / action demandée</p>
			</div>
			<div class="margin margin4">
				<h4 class="il">3/&nbsp;</h4> <p class="il">Joignez une copie du document contenant le n° de RMA accepté qui vous aura été confirmé par Email au colis contenant le produit retourné.
				</p>
			</div>
			<div class="flex margin">
				<div>
					<a class="il" href="https://www.actn.fr/download/savMX.pdf" target="_blank">
					<img loading="lazy" alt="MOBOTIX" [src]="environment.logoMarquesGrisUrl + 'MOBO' + '.gif'"></a>
				</div>
				<div class="selfCenter margin2 text" >
					<a class="il" href="https://www.actn.fr/download/savMX.pdf" target="_blank">Conditions particulières MOBOTIX - télécharger le document PDF</a> <br>
					<p class="il">* Les demandes de retour de produits n'étant plus sous garantie seront rejetées.</p> <br>
					<p class="il">** Le produit retourné doit être accompagné des accessoires tels que les câbles, l'alimentation, les drivers, la documentation.</p>
				</div>
			</div>
		</div>

	</div>

	<div>
		<h3>2 / Demande de retour de produit pour avoir ou échange :</h3>
		<!-- <p> -->
			<h4 class="il">1/</h4> Seuls les produits ayant été achetés depuis moins de 30 jours (voir conditions générales de vente), seront pris en compte.
			<br /><br />
			<h4 class="il">2/</h4> Vous voudrez bien vous conformer à la procédure décrite en 1.2
			<br /><br />
			<h4 class="il">3/</h4> Tout produit retourné incomplet ou dont l'emballage aura été dégradé ne sera pas repris.
		<!-- </p> -->
	</div>

</div>
<br>
<div>
	<button
			mat-raised-button
			class="raised-button"
			(click)="historyBack()">
		RETOUR
	</button>
</div>
