.pdf {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	@media screen and (max-width: 767.98px) {
		justify-content: center;
	}
}

.pdf-icon {
	margin: 0;
	padding: 0;
	font-size: 0.4em;
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 6em;
	height: 8.5em;
	background-color: #eee;
	background-image: url("https://i.imgur.com/lZ5SgDE.webp");
	background-repeat: no-repeat;
	background-size: 85% auto;
	background-position: center 2em;
	border-radius: 1px 2em 1px 1px;
	border: 1px solid #ddd;
	&:after {
		content: "PDF";
    font-family: Arial, serif;
		font-weight: bold;
		font-size: 1.2em;
		text-align: center;
		padding: 0.2em 0 0.1em;
		color: white;
		display: block;
		position: absolute;
		top: 0.7em;
		left: -1.5em;
		width: 3.4em;
		height: auto;
		background: #da2525;
		border-radius: 2px;
	}
}

.libelle-pdf {
	margin-left: 20px;
	text-decoration: underline;

	/*
	@media screen and (max-width: 1300px) and (min-width: 767.98px) {
		width: 0;
		height: 0;
		overflow: hidden;
	}
	*/
}
