.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;

    &.active {
        z-index: 21;
        opacity: 1;
        visibility: visible;
    }

    .popup-background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
    }

    .popup-window {
        $width: 450px;
        $height: 130px;
        position: fixed;
        width: $width;
        height: $height;
        min-width: $width;
        min-height: $height;
        max-width: $width;
        max-height: $height;
        top: calc(50vh - #{$height} / 2);
        bottom: calc(50vh - #{$height} / 2);
        left: calc(50vw - #{$width} / 2);
        right: calc(50vw - #{$width} / 2);
        background: white;
        padding: 20px;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        > *:first-child {
            margin-right: 20px;
        }
    }
    
    p {
        text-align: center;
        width: 100%;
    }
}