@import "../contrats.component.scss";

$nbItems: 8;

ul {
    box-shadow: none;

    &:not(:first-of-type) {
        li {
            font-weight: normal !important;
        }
    }
}

.postes {
    padding: 20px;
    background-color: #fafafa;
}

.bandeau {
    position: relative;
    top: inherit;
    border-radius: 10px;
}

.duree {
    max-width: 200px;
}

.formulaire {
    display: flex;
    flex-wrap: wrap;

    > * {
        margin: 10px;
        width: 100%;
    }

    .input-number {
        max-width: 300px;        
    }

    .resume {
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 1px;
    }

    .buttons {
        width: 100%;
        text-align: right;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        button,
        a {
            display: inline-block;
            text-decoration: none;

            &:first-child {
                margin-right: 10px;
            }
        }

        &.up {
            margin-top: -53px;
        }
    }

    .renew-upgrade {
        margin-bottom: 20px;
    }

    mat-radio-button {
        &:not(:first-of-type) {
            margin-left: 20px;
        }
    }

    mat-slide-toggle {
        margin-bottom: 20px;
    }
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
        visibility: visible;
        z-index: 21;
        opacity: 1;
    }

    .popup-background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        z-index: 20;
    }

    .popup-window {
        background: white;
        padding: 20px;
        z-index: 21;
        max-width: 80%;
    }

    .popup-buttons {
        display: flex;
        justify-content: flex-end;

        > *:not(:last-child) {
            margin-right: 20px;
        }
    }
}
.br10{
    border-radius: 10px !important;
}
.bgwhite{
    background-color: white !important;
}

.produit-radio{
  padding:
10px;
background-color: #fafafa;
border-radius: 10px;
border: 1px solid #e0e0e0;
margin-bottom: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produit-radio-button{
    display: grid;
    grid-template-columns: 0.2fr  11.8fr;
    margin-bottom: 15px;
    
}
.radio-button-block{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.big-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.box-input{
    display: flex;
    background-color: #fafafa  ;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    align-items: center;
    gap: 10px;
    mat-form-field {
        width: 100%;
    }
}
.no-wrap{
    text-wrap: nowrap;
}
.input-nombre-poste{
    min-width: 200px;
}