<!-- DIV DE FILTRAGE -->
<div class="container-filtres raised-1">
  <button class="text-button">Filtres</button>

  <div class="filtres">
    <div class="filtre">
      <mat-form-field>
        <mat-label>Numéro de série</mat-label>
        <input matInput [ngModel]="filtres.get('serie')"
               (ngModelChange)="onSearch('serie', $event, true)"
               [matAutocomplete]="serieAuto"
        />
        <mat-autocomplete #serieAuto="matAutocomplete">
          @for (item of AutoCompletePools.serie; track item) {
            <mat-option [value]="item">
              {{ item }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filtre">
      <mat-form-field>
        <mat-label>Réf. produit</mat-label>
        <input matInput [ngModel]="filtres.get('produit')" (ngModelChange)="onSearch('produit', $event, true)"
               [matAutocomplete]="produitAuto"
        />
        <mat-autocomplete #produitAuto="matAutocomplete">
          @for (item of AutoCompletePools.produit; track item) {
            <mat-option [value]="item">
              {{ item }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filtre">
      <mat-form-field>
        <mat-label>N° de commande</mat-label>
        <input matInput [ngModel]="filtres.get('commande')"
               (ngModelChange)="onSearch('commande', $event, true)"
               [matAutocomplete]="commandeAuto"
        />
        <mat-autocomplete #commandeAuto="matAutocomplete">
          @for (item of AutoCompletePools.commande; track item) {
            <mat-option [value]="item">
              {{ item }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filtre">
      <mat-form-field>
        <mat-label>Date de commande (jj/mm/aaaa)</mat-label>
        <input matInput [ngModel]="filtres.get('datecommande')"
               (ngModelChange)="onSearch('datecommande', $event, false)"/>
      </mat-form-field>
    </div>
    <div class="filtre">
      <mat-form-field>
        <mat-label>N° de BL</mat-label>
        <input matInput [ngModel]="filtres.get('bl')"
               (ngModelChange)="onSearch('bl', $event, true)"
               [matAutocomplete]="blAuto"
        />
        <mat-autocomplete #blAuto="matAutocomplete">
          @for (item of AutoCompletePools.bl; track item) {
            <mat-option [value]="item">
              {{ item }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filtre">
      <mat-form-field>
        <mat-label>N° de Facture</mat-label>
        <input matInput [ngModel]="filtres.get('facture')"
               (ngModelChange)="onSearch('facture', $event, true)"
               [matAutocomplete]="factureAuto"
        />
        <mat-autocomplete #factureAuto="matAutocomplete">
          @for (item of AutoCompletePools.facture; track item) {
            <mat-option [value]="item">
              {{ item }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filtre">
      <mat-form-field>
        <mat-label>Marque</mat-label>
        <mat-select [ngModel]="filtres.get('marque')" (ngModelChange)="onSearch('marque', $event)" multiple>
          <!-- <mat-option value=""></mat-option> -->
          @for (marque of marqueSet; track marque) {
            <mat-option [value]="marque">{{ marque }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  @if (marqueSet) {
    <div class="marque-filtres">
      @for (option of marqueSet; track option; let j = $index) {
        <div class="marque-options" [ngClass]="{'selected': filtres.get('marque').includes(option)}"
             (click)="filtreMarqueToggle(option)"
             (tap)="filtreMarqueToggle(option)">
          <img class="marque-img" [src]="environment.logoMarquesCouleurs200x80 + option + '.gif'" [alt]="option"/>
        </div>
      }
    </div>
  }
</div>

<mat-card class="mat-elevation-z3">

  <!-- PAGINATOR -->
  <div class="middle-page">
    <div class="results">
      @if (dataSource.filteredData) {
        <span>
          {{ selection.selected.length + (selection.selected.length > 1 ? ' sélectionnés' : ' sélectionné') }}
        </span>
      }
      /
      <span>{{ dataSource.filteredData?.length + (dataSource.filteredData?.length > 1 ? ' résultats' : ' résultat') }}</span>
      <button class="raised-button thin-button" (click)="exportToExcel()"
              [disabled]="selection.selected.length == 0">
        Télécharger la sélection <!-- ({{ numerosDeSerie?.length }}) -->
      </button>
    </div>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>

  </div>

  <table mat-table [dataSource]="this.dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="marque">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Marque</th>
      <td mat-cell *matCellDef="let row">
        {{ row.marque }}
      </td>
    </ng-container>
    <ng-container matColumnDef="produit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref. du produit</th>
      <td mat-cell *matCellDef="let row">
        {{ row.produit }}
      </td>
    </ng-container>
    <ng-container matColumnDef="refcommande">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref. client de la commande</th>
      <td mat-cell *matCellDef="let row">
        {{ row.refcommande }}
      </td>
    </ng-container>
    <ng-container matColumnDef="serie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S/N</th>
      <td mat-cell *matCellDef="let row">
        {{ row.serie }}
      </td>
    </ng-container>
    <ng-container matColumnDef="commande">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° de commande</th>
      <td mat-cell *matCellDef="let row">
        {{ row.commande }}
      </td>
    </ng-container>
    <ng-container matColumnDef="datecommande">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de commande</th>
      <td mat-cell *matCellDef="let row">
        {{ row.datecommande }}
      </td>
    </ng-container>
    <ng-container matColumnDef="bl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° de BL</th>
      <td mat-cell *matCellDef="let row">
        {{ row.bl }}
      </td>
    </ng-container>
    <ng-container matColumnDef="datebl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de BL</th>
      <td mat-cell *matCellDef="let row">
        {{ row.datebl }}
      </td>
    </ng-container>
    <ng-container matColumnDef="facture">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° de facture</th>
      <td mat-cell *matCellDef="let row">
        {{ row.facture }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
