<div class="adresseForm">
  <h3>Ajouter une Adresse :</h3>
  <form [formGroup]="addrForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nom ou raison sociale :</mat-label>
      <input
        formControlName="nomAddr"
        matInput
        maxlength="40"
        name="nom"
        placeholder="40 caracteres max"
        required
        type="text"
      />
      @if (addrForm.get('nomAddr').invalid) {
      <mat-error
        >Le nom de l'adresse doit faire entre 1 et 40 caractère. Caractères
        autorisés : Majuscules, Minuscules, Chiffres, éèêàâîïÉÈÊÀÂÎÏ'
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Adresse :</mat-label>
      <input
        formControlName="addr1"
        matInput
        maxlength="30"
        name="addr1"
        placeholder="30 caracteres max"
        required
        type="text"
      />
      @if (addrForm.get('addr1').invalid) {
      <mat-error
        >La première ligne de l'adresse doit faire entre 1 et 30 caractère.
        Caractères autorisés : Majuscules, Minuscules, Chiffres, éèêàâîïÉÈÊÀÂÎÏ'
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Adresse complémentaire :</mat-label>

      <input
        formControlName="addr2"
        matInput
        maxlength="30"
        name="addr2"
        placeholder="30 caracteres max"
        type="text"
      />
      <!-- <span *ngIf="addrForm.addr2">&nbsp;{{ addrForm.addr2.length }}</span> -->
      @if (addrForm.get('addr2').invalid) {
      <mat-error
        >La seconde ligne de l'adresse doit faire entre 1 et 30 caractère.
        Caractères autorisés : Majuscules, Minuscules, Chiffres, éèêàâîïÉÈÊÀÂÎÏ'
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Code Postal :</mat-label>

      <input
        formControlName="codePostal"
        matInput
        maxlength="5"
        name="codePostal"
        oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        required
        type="text"
      />

      @if (addrForm.get('codePostal').invalid) {
      <mat-error
        >Vérifiez que votre code postal corresponde bien au format du pays
        choisit. Caractères autorisés : Chiffres
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Ville :</mat-label>

      <input
        formControlName="ville"
        matInput
        maxlength="26"
        name="ville"
        placeholder="26 caracteres max"
        required
        type="text"
      />
      <!--  <span *ngIf="addrForm.ville">&nbsp;{{ addrForm.ville.length }}</span> -->
      @if (addrForm.get('ville').invalid) {
      <mat-error
        >Le nom de la ville doit faire entre 1 et 26 caractère. Caractères
        autorisés : Majuscules, Minuscules, Chiffres, éèêàâîïÉÈÊÀÂÎÏ'
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Téléphone :</mat-label>

      <input
        formControlName="telephone"
        matInput
        maxlength="15"
        name="telephone"
        oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        pattern="[0-9+.\s]{1,15}"
        placeholder="Numéro portable de préférence"
        required
        type="text"
      />
      <mat-hint
        >Veuillez ne pas mettre d'espace entre les caractères, exemple :
        0000000000</mat-hint
      >
      @if (addrForm.get('telephone').invalid) {
      <mat-error
        >Le numéro de téléphone doit faire entre 1 et 15 caractères, exemple :
        0000000000. Caractères autorisés : Chiffres, +
      </mat-error>
      }
    </mat-form-field>

    @if (pays$ | async; as pays) {
    <mat-form-field class="example-full-width">
      <mat-label>Pays :</mat-label>
      <!--input [(ngModel)]="addrForm.pays" type="text" name="pays"-->
      <mat-select
        [formControlName]="'pays'"
        required
        (selectionChange)="changePays()"
      >
        <mat-option value="FR">France</mat-option>
        <mat-option value="BE">Belgique</mat-option>
        <mat-option value="ES">Espagne</mat-option>
        <mat-option value="LU">Luxembourg</mat-option>
        @for (unPays of pays; track $index) {
        <mat-option [value]="unPays['alpha2Code']">
          {{ adresseService.getNameOfCountry(unPays) }}
        </mat-option>
        }
      </mat-select>
      @if (addrForm.get('pays').invalid) {
      <mat-error>Pensez à selectionner un pays dans la liste.</mat-error>
      }
    </mat-form-field>
    }
    <br />

    <mat-checkbox
      class="defaultCheckbox"
      formControlName="defaut"
      name="defaut"
    >
      Faire de cette adresse votre nouvelle adresse par defaut.
    </mat-checkbox>

    <p>* : Champs obligatoires</p>
    <br />
    <div class="formButtons">
      <button [routerLink]="['/espace-client/adresses/']" class="raised-button">
        Annuler
      </button>
      <button (click)="addAddress()" class="raised-button">Ajouter</button>
    </div>
  </form>
</div>
