<ng-template #buttons>
  @if (produits.length > nbItems || news.length > nbItems || (type === 'galerie' && nbProduits > nbItems)) {
    <div class="buttons" [ngClass]="{comparateur: type === 'comparateur', galerie: type === 'galerie'}">
      <button id="previous" class="button previous left-arrow"
              [ngClass]="{actu: type === 'actu', comparateur: type === 'comparateur', galerie: type === 'galerie'}"
              (click)="onPrevious()" [disabled]="scrollState === SCROLL.LEFT"></button>
      <button id="next" class="button next" (click)="onNext()"
              [ngClass]="{actu: type === 'actu', comparateur: type === 'comparateur', galerie: type === 'galerie'}"
              [disabled]="scrollState === SCROLL.RIGHT"></button>
    </div>
  }
</ng-template>

<ng-template [ngTemplateOutlet]="buttons"></ng-template>
@if (type === 'comparateur') {
  <ng-template [ngTemplateOutlet]="buttons"></ng-template>
}
<div id="slider" #slider @fadeIn>
  <div id="slider-container" [ngClass]="{comparateur: type === 'comparateur', produitdetail: type === 'galerie'}"
       #sliderContainer>
    @switch (type) {
      @case ('produit') {
        @if (this.isInitialized === true) {
          @for (produit of produits$ | async; track $index) {

            <div #item class="item" style="min-width: 0px">
              <app-produit-preview  style="width: 100%" [produit]="produit"
                                   [format]="'grid'"
                                   [simple]="simplePreviewProduct"></app-produit-preview>
            </div>
          }
        }
      }
      @case ('actu') {
        @for (actu of news; track actu.title) {
          <div #item class="item actu raised-1" style="min-width: 0px">
            <a [href]="actu.link" target="_blank"><img loading="lazy" [src]="actu.description" [alt]="actu.title"/>   
         </a>
            <div class="description">
              <h3><a [href]="actu.link" target="_blank">{{ actu.title }}</a></h3>
            </div>
            <p class="size-smaller date">{{ actu.date }}</p>
            <div class="bottom">
              <a class="raised-button ghost-button" [href]="actu.link" target="_blank" rel="noopener">Lire la suite</a>
            </div>
          </div>
        }
      }
      @case ('comparateur') {
        @for (produitCompare of produits$ | async; track $index) {
          <div #item class="item comparateur">
            <app-produit-preview [produit]="produitCompare" [displayRemoveProductFromComparateurButton]="true"
                                 format="grid">
            </app-produit-preview>
            @for (critere of produitCompare.crits; track critere.name; let i = $index) {
              @if (critere.name != '') {
                <div class="compare-critere">
                  <span class="critereName">&nbsp;&nbsp;&nbsp;&nbsp;{{ critere.name }}</span>
                  <span class="critereValue">{{ critere.value || '-' }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
              }
            }
          </div>
        }
      }
      @case ('galerie') {
        @if (nbProduits > 0) {
          <div class="item galerie" (click)="onSelect(0)" (tap)="onSelect(0)">
            <img loading="lazy" [alt]="produit" [ngClass]="{'selected': selected === 0}"
                 [src]="environment.vignettesUrl + produit + '.webp'"/>
          </div>
          @for (photo of arrGalerie; track photo; let i = $index) {
            <div class="item galerie" (click)="onSelect(i + 1)" (tap)="onSelect(i + 1)">
              <img loading="lazy" [alt]="produit" default="assets/img/favicon.webp" [ngClass]="{'selected': selected === (+i + 1)}"
                   [src]="environment.vignettesUrl + produit + '_' + (+i + 1) + '.webp'"/>
            </div>
          }
        }
      }
    }
  </div>
</div>

