<h1>Polices</h1>

<h2>Titre</h2>
<h1>Font : H1</h1>
<h2>Font : H2</h2>
<h3>Font : H3</h3>
<h4>Font : H4</h4>
<h5>Font : H5</h5>
<h6>Font : H6</h6>

<h2>Font-size</h2>
<p class="size-huge">Font : P Huge</p>
<p class="size-big">Font : P Big</p>
<p class="size-bigger">Font : P Bigger</p>
<p class="size-default">Font : P</p>
<p class="size-smaller">Font : P Smaller</p>
<p class="size-small">Font : P Small</p>
<p class="size-little">Font : P Little</p>

<h2>Font-weight</h2>
<p class="weight-fat">Font : P Fat</p>
<p class="weight-bold">Font : P Bold</p>
<p class="weight-bolder">Font : P Bolder</p>
<p class="weight-default">Font : P</p>
<p class="weight-lighter">Font : P Lighter</p>
<p class="weight-light">Font : P Light</p>
<p class="weight-thin">Font : P Thin</p>

<h1>Boutons</h1>

